flows.json
[{"id":"62f232c2.0dd08c","type":"tab","label":"General","disabled":false,"info":""},{"id":"152554cc.389edb","type":"tab","label":"Coffee Table","disabled":false,"info":""},{"id":"604c5243.2e88dc","type":"tab","label":"Scenes","disabled":false,"info":""},{"id":"fa310ecb.c84eb","type":"tab","label":"Test","disabled":false,"info":""},{"id":"86a3c02f.3051a","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"dc525cab.4af5a","type":"tab","label":"Alarm Clock","disabled":true,"info":""},{"id":"3788fae5.b038d6","type":"tab","label":"Lounge","disabled":false,"info":""},{"id":"b50f3595.0e3a28","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"ef54a0c2.e259d","type":"tab","label":"Spotify","disabled":false,"info":""},{"id":"5e97ea24.516424","type":"tab","label":"Garden","disabled":false,"info":""},{"id":"8efb2399.f1af9","type":"subflow","name":"Play On Google Home","info":"","category":"","in":[{"x":80,"y":80,"wires":[{"id":"3a88dc46.74acb4"}]}],"out":[],"env":[]},{"id":"8dc4db95.863a28","type":"subflow","name":"Subflow 1","info":"","in":[{"x":60,"y":80,"wires":[{"id":"60efd2b7.c8f81c"}]}],"out":[{"x":1060,"y":80,"wires":[{"id":"a168d8f.5574f28","port":0}]}]},{"id":"7096029a.79ff6c","type":"subflow","name":"Message Home","info":"","category":"telegram","in":[{"x":120,"y":220,"wires":[{"id":"9a431cab.15f0e"}]}],"out":[],"env":[],"icon":"node-red-contrib-telegrambot/telegram.png"},{"id":"81d9975e.584f98","type":"subflow","name":"MES","info":"","category":"The Nook","in":[],"out":[],"env":[],"icon":"node-red-contrib-cast/home.svg"},{"id":"4a06737d.008a7c","type":"subflow","name":"All AC Off","info":"","category":"The Nook","in":[{"x":460,"y":300,"wires":[{"id":"cff4a041.4964"}]}],"out":[],"env":[],"icon":"font-awesome/fa-snowflake-o"},{"id":"8ed72877.93bc38","type":"subflow","name":"Peripheral Lights Off","info":"","category":"The Nook","in":[{"x":220,"y":200,"wires":[{"id":"757620d3.73d4"}]}],"out":[],"env":[],"icon":"node-red/light.png"},{"id":"a436e8cb.527cf8","type":"subflow","name":"Toggle Lounge AC","info":"","category":"The Nook","in":[{"x":180,"y":160,"wires":[{"id":"b467c84c.4dc468"}]}],"out":[],"env":[],"icon":"font-awesome/fa-snowflake-o"},{"id":"54c86189.6415","type":"subflow","name":"Brightness wrt Time","info":"","category":"The Nook","in":[{"x":240,"y":140,"wires":[{"id":"5dbcd079.75d08"}]}],"out":[{"x":1020,"y":140,"wires":[{"id":"6946092c.681c38","port":0},{"id":"5a591dcf.255824","port":0}]}],"env":[],"icon":"node-red/light.png"},{"id":"34311fcd.cea24","type":"subflow","name":"Brightness Bedtime & Sun","info":"","category":"The Nook","in":[{"x":240,"y":240,"wires":[{"id":"5518df27.0ef46"}]}],"out":[{"x":1360,"y":340,"wires":[{"id":"9a09c277.b010d","port":0},{"id":"59476d48.5e9b54","port":0}]},{"x":1360,"y":440,"wires":[{"id":"a9f78513.321758","port":0}]}],"env":[],"inputLabels":["Trigger"],"outputLabels":["On","Off"],"icon":"node-red/light.png"},{"id":"7d575fd3.be153","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"5bf8ed86.6f1f24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2eafe4c0.b7da5c","type":"mqtt-broker","z":"","name":"hassio","broker":"thenook.casa","port":"10883","clientid":"node_red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6db11244.bdedac","type":"spotify-auth","z":"","name":"Spotify OAuth2","scope":"user-library-modify\nuser-library-read\napp-remote-control\nstreaming\nplaylist-read-private\nplaylist-read-collaborative\nplaylist-modify-public\nplaylist-modify-private\nuser-read-recently-played\nuser-top-read\nuser-read-currently-playing\nuser-read-playback-state\nuser-modify-playback-state"},{"id":"23029ca2.ce4fa4","type":"telegram bot","z":"","botname":"Garden","usernames":"philip","chatids":"-257391012","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"83addd5e.3fa6","type":"telegram bot","z":"","botname":"Batteries","usernames":"philip","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"3585a77d.6fe258","type":"mqtt out","z":"152554cc.389edb","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":980,"y":300,"wires":[]},{"id":"d82b898d.8d2e48","type":"mqtt in","z":"152554cc.389edb","name":"tags","topic":"coffee_table/tags","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":190,"y":300,"wires":[["aa02c509.209398","deabd4b3.5c5048"]]},{"id":"bba7a822.6dd958","type":"stoptimer","z":"152554cc.389edb","duration":"5","units":"Second","payloadtype":"num","payloadval":"lock","name":"","x":680,"y":260,"wires":[["a8851025.063b3"],[]]},{"id":"45f0144b.39d25c","type":"switch","z":"152554cc.389edb","name":"Check","property":"unlock","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":300,"wires":[["bba7a822.6dd958","3678f3ed.0183bc"],["fe74ad6.afe5a5"]]},{"id":"3678f3ed.0183bc","type":"function","z":"152554cc.389edb","name":"unlock","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"unlock\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["3585a77d.6fe258"]]},{"id":"a8851025.063b3","type":"function","z":"152554cc.389edb","name":"Lock","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"lock\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["3585a77d.6fe258"]]},{"id":"cb1f7bed.cb9da8","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":380,"wires":[["3678f3ed.0183bc"]]},{"id":"8635c9e3.069778","type":"mqtt out","z":"152554cc.389edb","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":1100,"y":940,"wires":[]},{"id":"d6cfdf6e.27fd6","type":"function","z":"152554cc.389edb","name":"Temperature","func":"msg.topic = \"coffee_table/ac/temp\"\nmsg.payload = msg.data.event.new_state.attributes.temperature\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":740,"wires":[["8635c9e3.069778"]]},{"id":"ba183189.07697","type":"trigger-state","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","entityid":"climate.lounge_ac","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"e8hf5wc5cau","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.temperature","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"17"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":430,"y":780,"wires":[["7c54558e.35644c"],[]]},{"id":"7088c9e7.6daa68","type":"mqtt in","z":"152554cc.389edb","name":"AC setting","topic":"coffee_table/ac/set_temp","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":200,"y":1920,"wires":[["9a5cbe16.22dd6"]]},{"id":"9a5cbe16.22dd6","type":"switch","z":"152554cc.389edb","name":"Check","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"btwn","v":"17","vt":"str","v2":"25","v2t":"str"},{"t":"gt","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":1920,"wires":[["6927e5da.a762bc"],["ed7faed8.4cd05","b788424a.7fac5"],["e8bd6c0b.4892e","b788424a.7fac5"]]},{"id":"6927e5da.a762bc","type":"api-call-service","z":"152554cc.389edb","name":"Turn Off","server":"7d575fd3.be153","version":"1","service_domain":"climate","service":"turn_off","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":1800,"wires":[[]]},{"id":"c9b7f417.42b8d8","type":"api-call-service","z":"152554cc.389edb","name":"Set Mode","server":"7d575fd3.be153","version":"1","service_domain":"climate","service":"set_operation_mode","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":1900,"wires":[[]]},{"id":"ed7faed8.4cd05","type":"function","z":"152554cc.389edb","name":"Cool","func":"msg.payload = \n{\n    data:\n    {\n        \"operation_mode\":\"cool\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1920,"wires":[["c9b7f417.42b8d8","ef4a9d40.31fa1"]]},{"id":"e8bd6c0b.4892e","type":"function","z":"152554cc.389edb","name":"Heat","func":"msg.payload = \n{\n    data:\n    {\n        \"operation_mode\":\"heat\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1980,"wires":[["c9b7f417.42b8d8","e4f1a7db.7c7008"]]},{"id":"a73b1c66.86f9c","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1800,"wires":[["9a5cbe16.22dd6"]]},{"id":"ef4a9d40.31fa1","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":1860,"wires":[]},{"id":"e4f1a7db.7c7008","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1980,"wires":[]},{"id":"964cb7ed.faf2c8","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"20","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1760,"wires":[["9a5cbe16.22dd6"]]},{"id":"4ba8cd83.504cf4","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1840,"wires":[["9a5cbe16.22dd6"]]},{"id":"b788424a.7fac5","type":"function","z":"152554cc.389edb","name":"Temperature","func":"msg.payload = \n{\n    data:\n    {\n        \"temperature\": msg.payload, \n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2040,"wires":[["e9228812.c4f8d8","e21753cf.589bd"]]},{"id":"e9228812.c4f8d8","type":"api-call-service","z":"152554cc.389edb","name":"Set Temperature","server":"7d575fd3.be153","version":"1","service_domain":"climate","service":"set_temperature","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":2040,"wires":[[]]},{"id":"e21753cf.589bd","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":2100,"wires":[]},{"id":"45f389d6.4a0148","type":"mqtt in","z":"152554cc.389edb","name":"Coffee Table Rebooted","topic":"coffee_table/boot","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":120,"y":960,"wires":[["3fd50609.42b72a","e28a7b90.cf96e8"]]},{"id":"3fd50609.42b72a","type":"api-current-state","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.lounge_ac","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":840,"wires":[["6eb0a296.32c9cc"],["d78eeb07.5b06e8"]]},{"id":"7c54558e.35644c","type":"switch","z":"152554cc.389edb","name":"Is Off","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"off","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":780,"wires":[["d6cfdf6e.27fd6"],["6eb0a296.32c9cc"]]},{"id":"6eb0a296.32c9cc","type":"function","z":"152554cc.389edb","name":"Off","func":"msg.topic = \"coffee_table/ac/temp\"\nmsg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":820,"wires":[["8635c9e3.069778"]]},{"id":"d480b019.5e823","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"Trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":840,"wires":[["3fd50609.42b72a"]]},{"id":"d78eeb07.5b06e8","type":"function","z":"152554cc.389edb","name":"Temperature","func":"msg.topic = \"coffee_table/ac/temp\"\nmsg.payload = msg.data.attributes.temperature\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":900,"wires":[["8635c9e3.069778"]]},{"id":"c0562d16.6a6","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"Trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1120,"wires":[["e28a7b90.cf96e8"]]},{"id":"e28a7b90.cf96e8","type":"api-current-state","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.lounge","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":1120,"wires":[["ee29ecbf.be8cd"],["8fe0276f.d1b7a8"]]},{"id":"e7b9101a.4eb1","type":"trigger-state","z":"152554cc.389edb","name":"Lounge Light Changed","server":"7d575fd3.be153","entityid":"light.lounge","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"x37cdsadl1","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":480,"y":1060,"wires":[["4f5232e3.6d956c","a6cac5fd.85bd78"],["ee29ecbf.be8cd","a6cac5fd.85bd78"]]},{"id":"ee29ecbf.be8cd","type":"function","z":"152554cc.389edb","name":"Off","func":"msg.topic = \"coffee_table/rgb\"\nmsg.payload = \"0,0,0\"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1060,"wires":[["8635c9e3.069778","5692ae5d.b9eef"]]},{"id":"8fe0276f.d1b7a8","type":"function","z":"152554cc.389edb","name":"Colour","func":"msg.topic = \"coffee_table/rgb\"\nmsg.payload = msg.data.attributes.rgb_color.join(\",\");\nreturn msg","outputs":1,"noerr":0,"x":850,"y":1120,"wires":[["8635c9e3.069778"]]},{"id":"4f5232e3.6d956c","type":"function","z":"152554cc.389edb","name":"Colour","func":"msg.topic = \"coffee_table/rgb\"\nmsg.payload = msg.data.event.new_state.attributes.rgb_color.join(\",\");\nreturn msg","outputs":1,"noerr":0,"x":850,"y":980,"wires":[["8635c9e3.069778","5692ae5d.b9eef"]]},{"id":"d8b87a2c.f84318","type":"comment","z":"152554cc.389edb","name":"Update Values","info":"Update the state variable on the coffee table","x":140,"y":720,"wires":[]},{"id":"f4db5f75.ad852","type":"comment","z":"152554cc.389edb","name":"Set the aircon","info":"","x":370,"y":1780,"wires":[]},{"id":"52d19d76.808bf4","type":"comment","z":"152554cc.389edb","name":"Handle Tag","info":"","x":170,"y":240,"wires":[]},{"id":"e011d35a.1d8b1","type":"file in","z":"152554cc.389edb","name":"Read Access Tags","filename":"/share/authorized_tags","format":"lines","chunk":false,"sendError":false,"encoding":"utf8","x":830,"y":80,"wires":[["48d45ac0.ec5f84"]]},{"id":"53992fe7.40b8e","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":80,"wires":[]},{"id":"6f4b6a83.b251e4","type":"function","z":"152554cc.389edb","name":"Load into global","func":"var count=global.get('tag_count') || 0;\n\nif (global.tag_count===undefined)//test exists\n{\n  global.tag_count=0;\n}\n\nglobal.set(\"Tags[\"+count+\"]\", msg.payload);\nglobal.set('tag_count', count + 1);\n\nmsg.payload = count\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":80,"wires":[["53992fe7.40b8e"]]},{"id":"f11098a2.4b88f8","type":"change","z":"152554cc.389edb","name":"Flush tags","rules":[{"t":"delete","p":"Tags","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["28d375f9.d4d47a"]]},{"id":"28d375f9.d4d47a","type":"function","z":"152554cc.389edb","name":"Reset Index","func":"global.set(\"tag_count\", 0)\nglobal.set(\"spotify_tag_count\", 0)\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["e011d35a.1d8b1","5c8f7d2e.d82f84"]]},{"id":"d0249aa5.14afc8","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":200,"y":120,"wires":[["f11098a2.4b88f8"]]},{"id":"aa02c509.209398","type":"function","z":"152554cc.389edb","name":"Lock?","func":"var count=global.get('tag_count') || 0;\nvar tag;\n\nfor(i=0; i<count; i++)\n{\n    tag = global.get(\"Tags[\"+i+\"]\");\n    if (tag==msg.payload)\n    {\n        msg.unlock = true\n        return msg;\n    }\n}\nmsg.unlock = false\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["45f0144b.39d25c"]]},{"id":"deabd4b3.5c5048","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":240,"wires":[]},{"id":"48d45ac0.ec5f84","type":"string","z":"152554cc.389edb","name":"strip","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":990,"y":80,"wires":[["6f4b6a83.b251e4"]]},{"id":"b386a47d.b53228","type":"comment","z":"152554cc.389edb","name":"Load Tag table","info":"","x":200,"y":60,"wires":[]},{"id":"cbe0832e.f82a","type":"cast-to-client","z":"fa310ecb.c84eb","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"100","x":750,"y":400,"wires":[["8016a89c.b02d68"]],"icon":"node-red-contrib-cast/home.png"},{"id":"ae14cd86.e1a92","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":400,"wires":[["601a200c.7c9ec"]]},{"id":"601a200c.7c9ec","type":"change","z":"fa310ecb.c84eb","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.1.27","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"Testing 1 2 3. ","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"En-gb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["cbe0832e.f82a"]]},{"id":"8016a89c.b02d68","type":"debug","z":"fa310ecb.c84eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":400,"wires":[]},{"id":"3da2ffbc.1e6b1","type":"comment","z":"fa310ecb.c84eb","name":"say a text","info":"","x":320,"y":360,"wires":[]},{"id":"5cc51160.65fdd","type":"spotify","z":"fa310ecb.c84eb","name":"Spotify","auth":"6db11244.bdedac","api":"getMyDevices","x":470,"y":560,"wires":[["e4c54319.69dcf"]]},{"id":"34a73767.208898","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"Devices","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":560,"wires":[["5cc51160.65fdd"]]},{"id":"e4c54319.69dcf","type":"debug","z":"fa310ecb.c84eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":560,"wires":[]},{"id":"b1a9b04c.ec789","type":"mqtt in","z":"152554cc.389edb","name":"set light brightness","topic":"coffee_table/lights/brightness","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":140,"y":1360,"wires":[["9070b397.0ba16"]]},{"id":"703506ba.99ec18","type":"api-call-service","z":"152554cc.389edb","name":"Set Brightness","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":1440,"wires":[[]]},{"id":"1115a864.e8b008","type":"function","z":"152554cc.389edb","name":"Brightness","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":msg.payload\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1340,"wires":[["703506ba.99ec18","fcb98fe6.327f9"]]},{"id":"61b08703.109fb8","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"80","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1300,"wires":[["1115a864.e8b008"]]},{"id":"16dfc199.75232e","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1260,"wires":[["1115a864.e8b008"]]},{"id":"a6ac0045.3f7d5","type":"mqtt in","z":"152554cc.389edb","name":"set light colour","topic":"coffee_table/lights/rgb","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":170,"y":1520,"wires":[["b7ce2f65.ec52e"]]},{"id":"7b8aa904.790698","type":"function","z":"152554cc.389edb","name":"Colour","func":"msg.payload = \n{\n    data:\n    {\n        \"rgb_color\":msg.payload\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1520,"wires":[["703506ba.99ec18","fcb98fe6.327f9"]]},{"id":"a5c8c305.98023","type":"inject","z":"152554cc.389edb","name":"Green","topic":"","payload":"0,255,0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1480,"wires":[["b7ce2f65.ec52e"]]},{"id":"53c6731b.b525ac","type":"inject","z":"152554cc.389edb","name":"Blue","topic":"","payload":"[0,0,255]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1440,"wires":[["b7ce2f65.ec52e"]]},{"id":"b7ce2f65.ec52e","type":"string","z":"152554cc.389edb","name":"split","methods":[{"name":"split","params":[{"type":"str","value":","},{"type":"num","value":"3"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":1520,"wires":[["7b8aa904.790698"]]},{"id":"b77ac302.94cb2","type":"comment","z":"152554cc.389edb","name":"Set the lights","info":"","x":490,"y":1280,"wires":[]},{"id":"84f783d7.86768","type":"comment","z":"dc525cab.4af5a","name":"START ALARM CLOCK SEQUENCE","info":"","x":190,"y":60,"wires":[]},{"id":"f4b9e12e.c65b9","type":"comment","z":"dc525cab.4af5a","name":"Set Initial Flow Variables","info":"","x":570,"y":120,"wires":[]},{"id":"f288f7c2.530418","type":"api-current-state","z":"dc525cab.4af5a","name":"Music?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.alarm_clock_music","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":380,"wires":[[],["203397d2.8d9e88"]]},{"id":"9ff2f533.e7cef8","type":"comment","z":"dc525cab.4af5a","name":"LOOP LOGIC ","info":"","x":110,"y":540,"wires":[]},{"id":"57811676.9ec318","type":"comment","z":"dc525cab.4af5a","name":"Snooze Button Actions","info":"","x":840,"y":960,"wires":[]},{"id":"228afdd6.d06a72","type":"comment","z":"dc525cab.4af5a","name":"Finish Alarm Sequence","info":"","x":1560,"y":720,"wires":[]},{"id":"c7999d65.5cfef","type":"comment","z":"dc525cab.4af5a","name":"Snooze Timer","info":"","x":530,"y":1040,"wires":[]},{"id":"5bd9557e.38b58c","type":"change","z":"dc525cab.4af5a","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"snooze","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":700,"wires":[["e8ae0c63.e1853","730729a5.f20068"]]},{"id":"82922c3e.22c1f","type":"server-state-changed","z":"dc525cab.4af5a","name":"Snooze On","server":"7d575fd3.be153","version":1,"entityidfilter":"input_boolean.alarm_clock_snooze","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":320,"y":1000,"wires":[[],["5bd9557e.38b58c","f3674133.4a9c7","cb994fc.046fdb"]]},{"id":"e8ae0c63.e1853","type":"traffic","z":"dc525cab.4af5a","name":"Brighten the Lights","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":690,"y":640,"wires":[["429259ae.b974b8"]]},{"id":"825679d1.5282d8","type":"link in","z":"dc525cab.4af5a","name":"","links":["3c943d26.941d62"],"x":655,"y":700,"wires":[["5bd9557e.38b58c"]]},{"id":"f3674133.4a9c7","type":"function","z":"dc525cab.4af5a","name":"Reset to Brightness / Volume","func":"flow.set(\"brightness\", 30);\nflow.set(\"volume\",0.3);\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":860,"y":1000,"wires":[["e301504.1e5b2b","3cd99a2e.adc856"]]},{"id":"cb994fc.046fdb","type":"delay","z":"dc525cab.4af5a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1080,"wires":[["c4a5ea00.ade338"]]},{"id":"98d584ce.7d8848","type":"inject","z":"dc525cab.4af5a","name":"Brightness ---->","topic":"","payload":"brightness","payloadType":"flow","repeat":"6","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":640,"wires":[["e8ae0c63.e1853"]]},{"id":"429259ae.b974b8","type":"function","z":"dc525cab.4af5a","name":"Set Brightness","func":"newmsg = {}\nvar brightness = flow.get(\"brightness\");\n\nnewmsg.payload = { data: { \"brightness_pct\":brightness} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":900,"y":640,"wires":[["403d10bb.a55b"]]},{"id":"cb5f0222.6605e","type":"change","z":"dc525cab.4af5a","name":"Start","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":580,"wires":[["e8ae0c63.e1853","730729a5.f20068"]]},{"id":"e301504.1e5b2b","type":"api-call-service","z":"dc525cab.4af5a","name":"Turn Off Bedroom Light","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1170,"y":1000,"wires":[[]]},{"id":"c4a5ea00.ade338","type":"api-call-service","z":"dc525cab.4af5a","name":"Snooze Off (Restart Loop)","server":"7d575fd3.be153","version":"1","service_domain":"homeassistant","service":"turn_off","entityId":"input_boolean.house_alarmclock_snooze","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":850,"y":1080,"wires":[["8a2d27dd.08da88"]]},{"id":"403d10bb.a55b","type":"api-call-service","z":"dc525cab.4af5a","name":"Turn On Bedroom Light","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"{\"rgb_color\":[255,255,255]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1150,"y":600,"wires":[["23c5c47b.9536ec"]]},{"id":"621ac4bd.e75c4c","type":"server-state-changed","z":"dc525cab.4af5a","name":"Snooze Off","server":"7d575fd3.be153","version":1,"entityidfilter":"input_boolean.alarm_clock_snooze","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":320,"y":580,"wires":[[],["cb5f0222.6605e"]]},{"id":"23c5c47b.9536ec","type":"function","z":"dc525cab.4af5a","name":"Increment Brightness","func":"var brightness = flow.get('brightness')||0;\n\nif (brightness < 100) {\n    brightness = brightness + 1;\n    flow.set(\"brightness\", brightness);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1420,"y":600,"wires":[["367cc768.706278"]]},{"id":"ee2d555f.f6bd98","type":"server-state-changed","z":"dc525cab.4af5a","name":"Wake Up House","server":"7d575fd3.be153","version":1,"entityidfilter":"input_boolean.alarm_clock_active","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":240,"y":340,"wires":[["2e42c6d7.d6f84a","f288f7c2.530418","cb5f0222.6605e"],[]]},{"id":"2e42c6d7.d6f84a","type":"function","z":"dc525cab.4af5a","name":"Initialize Brightness / Volume to 0","func":"flow.set(\"brightness\", 1);\nflow.set(\"volume\", 0.0);\n\nnewmsg = {\"payload\":\"true\"}\nreturn newmsg;","outputs":1,"noerr":0,"x":600,"y":160,"wires":[[]]},{"id":"367cc768.706278","type":"switch","z":"dc525cab.4af5a","name":"Is Loop Done?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1540,"y":660,"wires":[["3c943d26.941d62"]]},{"id":"410dfd30.c02404","type":"inject","z":"dc525cab.4af5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":890,"y":160,"wires":[["2e42c6d7.d6f84a"]]},{"id":"3c943d26.941d62","type":"link out","z":"dc525cab.4af5a","name":"FINISH ALARM SEQUENCE!","links":["825679d1.5282d8"],"x":1435,"y":720,"wires":[]},{"id":"6852549a.11793c","type":"comment","z":"dc525cab.4af5a","name":"LIGHTING","info":"","x":900,"y":600,"wires":[]},{"id":"730729a5.f20068","type":"traffic","z":"dc525cab.4af5a","name":"Turn Up Volume","property_allow":"payload","filter_allow":"start","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"snooze","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":680,"y":780,"wires":[["bb955c81.f81da"]]},{"id":"884bd126.b4f78","type":"inject","z":"dc525cab.4af5a","name":"Volume ---->","topic":"","payload":"volume","payloadType":"flow","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":780,"wires":[["b0ca687c.094618"]]},{"id":"bb955c81.f81da","type":"function","z":"dc525cab.4af5a","name":"Set Volume","func":"newmsg = {};\nvar volume = flow.get(\"volume\");\n\nnewmsg.payload = { data: { \"volume_level\":volume} }\n\nreturn newmsg;","outputs":1,"noerr":0,"x":890,"y":780,"wires":[["19961e55.777e42"]]},{"id":"19961e55.777e42","type":"api-call-service","z":"dc525cab.4af5a","name":"Bedroom GHM","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1140,"y":780,"wires":[["2df1f720.b7d798"]]},{"id":"2df1f720.b7d798","type":"function","z":"dc525cab.4af5a","name":"Increment Volume","func":"var volume = flow.get('volume')||0.0;\n\nif (volume < 0.75) {\n    volume = volume + 0.05;\n    flow.set(\"volume\", volume);\n    \n    newmsg = {\"payload\":\"looping\"}\n    return newmsg;\n}\nelse {\n    newmsg = {\"payload\":\"done\"};\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1410,"y":780,"wires":[[]]},{"id":"fd8fff93.d289c","type":"comment","z":"dc525cab.4af5a","name":"SNOOZE!","info":"","x":100,"y":860,"wires":[]},{"id":"f538544a.973128","type":"comment","z":"dc525cab.4af5a","name":"VOLUME","info":"","x":900,"y":720,"wires":[]},{"id":"782f72e1.b98b3c","type":"comment","z":"dc525cab.4af5a","name":"Turn on Radio","info":"","x":530,"y":340,"wires":[]},{"id":"b0ca687c.094618","type":"api-current-state","z":"dc525cab.4af5a","name":"Music?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.house_alarmclock_music","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":780,"wires":[[],["730729a5.f20068"]]},{"id":"203397d2.8d9e88","type":"api-call-service","z":"dc525cab.4af5a","name":"Volume","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"{\"volume_level\":0}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":380,"wires":[["58bd0c14.e60584"]]},{"id":"58bd0c14.e60584","type":"change","z":"dc525cab.4af5a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":380,"wires":[["6aff5836.ec94d8"]]},{"id":"3cd99a2e.adc856","type":"api-call-service","z":"dc525cab.4af5a","name":"Pause Radio","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"media_pause","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1130,"y":1060,"wires":[["482d568.a1a13a8"]]},{"id":"8a2d27dd.08da88","type":"change","z":"dc525cab.4af5a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1140,"wires":[["3d7cbb17.d33eb4"]]},{"id":"3d7cbb17.d33eb4","type":"api-call-service","z":"dc525cab.4af5a","name":"Play","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"media_play","entityId":"media_player.bedroom_speaker","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":1140,"wires":[[]]},{"id":"482d568.a1a13a8","type":"change","z":"dc525cab.4af5a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":1060,"wires":[["27ba043d.61335c"]]},{"id":"27ba043d.61335c","type":"api-call-service","z":"dc525cab.4af5a","name":"Volume","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"{\"volume_level\":0.3}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1440,"y":1060,"wires":[[]]},{"id":"8f7ad758.f4b448","type":"mqtt in","z":"dc525cab.4af5a","name":"Bedroom Button","topic":"zigbee2mqtt/bedroom_button","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":540,"y":1220,"wires":[["2ebd750d.cd26da"]]},{"id":"2ebd750d.cd26da","type":"api-current-state","z":"dc525cab.4af5a","name":"Waking Up?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"Waking Up","halt_if_type":"str","halt_if_compare":"is_not","override_topic":true,"entity_id":"variable.house_state","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":750,"y":1220,"wires":[[],["f48296aa.964588"]]},{"id":"f48296aa.964588","type":"api-call-service","z":"dc525cab.4af5a","name":"Snooze On","server":"7d575fd3.be153","version":1,"service_domain":"homeassistant","service":"turn_on","entityId":"input_boolean.house_alarmclock_snooze","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":930,"y":1220,"wires":[[]]},{"id":"7ee1ab4a.3d69e4","type":"comment","z":"dc525cab.4af5a","name":"Snooze Button","info":"","x":540,"y":1180,"wires":[]},{"id":"13f4ff34.1b1af1","type":"change","z":"dc525cab.4af5a","name":"Delete","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":380,"wires":[["6633a216.e74e1c"]]},{"id":"6633a216.e74e1c","type":"api-call-service","z":"dc525cab.4af5a","name":"Volume","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"volume_set","entityId":"media_player.bedroom_speaker","data":"{\"volume_level\":0}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1480,"y":380,"wires":[[]]},{"id":"b597ff23.29d","type":"spotify","z":"fa310ecb.c84eb","name":"Spotify","auth":"6db11244.bdedac","api":"getUserPlaylists","x":470,"y":620,"wires":[["de1fd720.963eb8"]]},{"id":"fbb22061.ae571","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"Playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":620,"wires":[["b597ff23.29d"]]},{"id":"de1fd720.963eb8","type":"debug","z":"fa310ecb.c84eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":620,"wires":[]},{"id":"f1a3ca51.122d78","type":"switch","z":"152554cc.389edb","name":"Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":360,"wires":[["ddab31fd.870b1","c43e4072.9c5b1"],["bec3e2b9.a62b7"]]},{"id":"ddab31fd.870b1","type":"wake on lan","z":"152554cc.389edb","mac":"BC:5F:F4:20:36:A8","host":"","name":"Wake PC","x":1760,"y":340,"wires":[]},{"id":"d8171382.92968","type":"switch","z":"152554cc.389edb","name":"Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":560,"wires":[["1df08980.d3c297"],["13c80693.90a3e9"]]},{"id":"cbe95dd2.a91b7","type":"link in","z":"604c5243.2e88dc","name":"Chill","links":[],"x":255,"y":220,"wires":[["e038c12c.44b49","ee52dc48.cb995","f1f21256.3354e"]]},{"id":"89cba672.0ec278","type":"api-call-service","z":"604c5243.2e88dc","name":"Lounge","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lounge\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":220,"wires":[[]]},{"id":"ee52dc48.cb995","type":"function","z":"604c5243.2e88dc","name":"Soft blue","func":"msg.payload = \n{\n    data:\n    {\n        \"rgb_color\":\"0,0,255\",\n        \"brightness\":\"80\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["89cba672.0ec278"]]},{"id":"e038c12c.44b49","type":"api-call-service","z":"604c5243.2e88dc","name":"Peripheral Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen, light.passage, light.entrance, light.lab\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":180,"wires":[[]]},{"id":"1df08980.d3c297","type":"link out","z":"152554cc.389edb","name":"Button4 Click","links":[],"x":1735,"y":520,"wires":[]},{"id":"62b4469c.cc8048","type":"link in","z":"604c5243.2e88dc","name":"Work","links":["13c80693.90a3e9"],"x":235,"y":400,"wires":[["6a6a0e19.a5346","33d5124b.5dd8fe","7cf7c009.36194","8cb3f388.ac544"]]},{"id":"1a1a3243.7dd44e","type":"api-call-service","z":"604c5243.2e88dc","name":"Lounge","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lounge\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":420,"wires":[[]]},{"id":"7cf7c009.36194","type":"function","z":"604c5243.2e88dc","name":"Warm White","func":"msg.payload = \n{\n    data:\n    {\n        \"color_temp\":\"364\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["1a1a3243.7dd44e"]]},{"id":"6a6a0e19.a5346","type":"api-call-service","z":"604c5243.2e88dc","name":"Kitchen","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":340,"wires":[[]]},{"id":"33d5124b.5dd8fe","type":"api-call-service","z":"604c5243.2e88dc","name":"Entrance","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.entrance\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":380,"wires":[[]]},{"id":"13c80693.90a3e9","type":"link out","z":"152554cc.389edb","name":"Button4 Held","links":["62b4469c.cc8048"],"x":1735,"y":600,"wires":[]},{"id":"f1f21256.3354e","type":"api-call-service","z":"604c5243.2e88dc","name":"Select Source","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"select_source","entityId":"media_player.spotify","data":"{\"source\":\"raspotify\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":260,"wires":[["fbaed3.f693513"]]},{"id":"fbaed3.f693513","type":"api-call-service","z":"604c5243.2e88dc","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\",\"media_content_type\":\"playlist\",\"media_content_id\":\"spotify:playlist:1I7BCVxUP97f2dAyAZtx04\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":260,"wires":[[]]},{"id":"8cb3f388.ac544","type":"api-call-service","z":"604c5243.2e88dc","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"media_pause","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":460,"wires":[[]]},{"id":"33abecf2.c49634","type":"cast-to-client","z":"152554cc.389edb","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"100","x":1990,"y":280,"wires":[[]],"icon":"node-red-contrib-cast/home.png"},{"id":"c43e4072.9c5b1","type":"change","z":"152554cc.389edb","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"ip","pt":"msg","to":"192.168.1.27","tot":"str"},{"t":"set","p":".message","pt":"msg","to":"Turning on PC","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"En-gb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":280,"wires":[["33abecf2.c49634"]]},{"id":"edfd67d3.4d04d8","type":"mqtt in","z":"152554cc.389edb","name":"Button 5","topic":"coffee_table/btn5","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1400,"y":740,"wires":[["5b1e3c1a.87e194","9caa92a0.a7d8b"]]},{"id":"5b1e3c1a.87e194","type":"switch","z":"152554cc.389edb","name":"Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":740,"wires":[["6d19006f.a4133"],["e7759e94.87d78"]]},{"id":"e7759e94.87d78","type":"link out","z":"152554cc.389edb","name":"Button5 Held","links":["bdbee893.050b58"],"x":1735,"y":780,"wires":[]},{"id":"82a2581a.cf2ae8","type":"switch","z":"152554cc.389edb","name":"Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1550,"y":880,"wires":[["dfdf9da9.c9194"],["ab93b770.7384a8"]]},{"id":"975c1688.72ee18","type":"api-call-service","z":"604c5243.2e88dc","name":"Lounge","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lounge\",\"rgb_color\":[255,255,255]}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":580,"wires":[[]]},{"id":"3562d27c.0e5dae","type":"function","z":"604c5243.2e88dc","name":"WHITE","func":"msg.payload = \n{\n    data:\n    {\n        \"rgb_color\": [\n            255,\n            255,\n            255\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["975c1688.72ee18"]]},{"id":"f072f2a4.a85b9","type":"api-call-service","z":"604c5243.2e88dc","name":"Peripheral Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen, light.passage, light.entrance, light.lab\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":540,"wires":[[]]},{"id":"2451c1c3.5eb58e","type":"api-call-service","z":"604c5243.2e88dc","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"raspotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":620,"wires":[["d5695a02.be9d98"]]},{"id":"d5695a02.be9d98","type":"api-call-service","z":"604c5243.2e88dc","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\",\"media_content_type\":\"playlist\",\"media_content_id\":\"spotify:playlist:1I7BCVxUP97f2dAyAZtx04\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":660,"wires":[[]]},{"id":"95a4eec4.5f56a","type":"api-call-service","z":"604c5243.2e88dc","name":"","server":"7d575fd3.be153","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"media_player.smart_ir_tv\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":680,"wires":[[]]},{"id":"5b1869db.a75858","type":"wake on lan","z":"604c5243.2e88dc","mac":"BC:5F:F4:20:36:A8","host":"","name":"PLEX","x":390,"y":740,"wires":[]},{"id":"dfdf9da9.c9194","type":"api-call-service","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","service_domain":"media_player","service":"media_next_track","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1870,"y":860,"wires":[[]]},{"id":"ab93b770.7384a8","type":"api-call-service","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","service_domain":"media_player","service":"media_play_pause","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1870,"y":920,"wires":[[]]},{"id":"5c8f7d2e.d82f84","type":"file in","z":"152554cc.389edb","name":"Read Music Tags","filename":"/share/music_tags.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":830,"y":160,"wires":[["e917cd70.109a3"]]},{"id":"9e53aea4.e8981","type":"function","z":"152554cc.389edb","name":"Load into global","func":"global.set(\"SpotifyTags\", msg.payload.Tags);\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":160,"wires":[[]]},{"id":"e917cd70.109a3","type":"json","z":"152554cc.389edb","name":"Parse","property":"payload","action":"","pretty":false,"x":1010,"y":160,"wires":[["9e53aea4.e8981","c8e37c66.45575"]]},{"id":"fe74ad6.afe5a5","type":"function","z":"152554cc.389edb","name":"Album?","func":"\nvar tags = global.get(\"SpotifyTags\");\n\nfor(var i=0; i<tags.length; i++)\n{\n    node.warn(tags[i].tag);\n    node.warn(tags[i].uri);\n    if (tags[i].tag==msg.payload)\n    {\n        msg.payload = \n        {\n            data:\n            {\n                \"media_content_type\":tags[i].type,\n                \"media_content_id\":tags[i].uri\n            }\n        };\n        node.warn(\"Match\");\n        msg.uri_attached = true\n        return msg;\n    }\n}\nnode.warn(\"No match\");\nmsg.uri_attached = false\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["a2d03719.e5c5a8"]]},{"id":"a2d03719.e5c5a8","type":"switch","z":"152554cc.389edb","name":"Check","property":"uri_attached","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":480,"wires":[["9797be1a.8e886"],["cb97531.f1c1cb","ab7054af.900578"]]},{"id":"c8e37c66.45575","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":240,"wires":[]},{"id":"220a4694.59fb1a","type":"inject","z":"604c5243.2e88dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":320,"wires":[["2214bc3a.c53204"]]},{"id":"92417fd5.0ab34","type":"api-call-service","z":"604c5243.2e88dc","name":"Lounge","server":"7d575fd3.be153","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lounge\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1280,"y":320,"wires":[[]]},{"id":"2214bc3a.c53204","type":"function","z":"604c5243.2e88dc","name":"Warm White","func":"msg.payload = \n{\n    data:\n    {\n        \"rgb_color\":[255,255,255]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":320,"wires":[["92417fd5.0ab34","90d7bf9c.9d264"]]},{"id":"90d7bf9c.9d264","type":"debug","z":"604c5243.2e88dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1320,"y":420,"wires":[]},{"id":"fcb98fe6.327f9","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":1540,"wires":[]},{"id":"a6cac5fd.85bd78","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":960,"wires":[]},{"id":"5692ae5d.b9eef","type":"debug","z":"152554cc.389edb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":1080,"wires":[]},{"id":"9070b397.0ba16","type":"switch","z":"152554cc.389edb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"toggle","vt":"str"},{"t":"eq","v":"toggle","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":1380,"wires":[["1115a864.e8b008"],["c0c6ce8.c57ec3"]]},{"id":"c0c6ce8.c57ec3","type":"api-call-service","z":"152554cc.389edb","name":"Set Brightness","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"toggle","entityId":"light.lounge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":1440,"wires":[[]]},{"id":"bec3e2b9.a62b7","type":"api-call-service","z":"152554cc.389edb","name":"Shutdown PC","server":"7d575fd3.be153","service_domain":"hassio","service":"addon_stdin","data":"{\"addon\":\"core_rpc_shutdown\",\"input\":\"desktop\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1780,"y":400,"wires":[[]]},{"id":"bdbee893.050b58","type":"link in","z":"3788fae5.b038d6","name":"Movie","links":["e7759e94.87d78"],"x":175,"y":180,"wires":[["68580e7b.59bde","6cad72cb.bffa3c","29f06b72.ef1114","3a505a79.5ca2f6","e226dd7c.ae6b4"]]},{"id":"fca6720f.a32c3","type":"api-call-service","z":"b50f3595.0e3a28","name":"Peripheral Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen, light.passage, light.entrance, light.lab\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":260,"y":80,"wires":[[]]},{"id":"8653b724.b6b798","type":"link in","z":"b50f3595.0e3a28","name":"PeripheralLightsOff","links":["68580e7b.59bde","a208e1db.bc2bb","a1a2d7a5.e342d8"],"x":115,"y":80,"wires":[["fca6720f.a32c3"]]},{"id":"55a6be5f.50e59","type":"api-call-service","z":"b50f3595.0e3a28","name":"All Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.all_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":230,"y":140,"wires":[[]]},{"id":"14ab918f.a9369e","type":"link in","z":"b50f3595.0e3a28","name":"AllLightsOff","links":[],"x":115,"y":140,"wires":[["55a6be5f.50e59"]]},{"id":"1c301ebb.5df3b1","type":"api-call-service","z":"b50f3595.0e3a28","name":"Inside Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.inside_lights\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":240,"y":200,"wires":[[]]},{"id":"e4edf7d9.080b48","type":"link in","z":"b50f3595.0e3a28","name":"InsideLightsOff","links":[],"x":115,"y":200,"wires":[["1c301ebb.5df3b1"]]},{"id":"929ef857.188298","type":"api-call-service","z":"b50f3595.0e3a28","name":"Bedtime Lights Off","server":"7d575fd3.be153","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"group.lights_bedtime\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":250,"y":260,"wires":[[]]},{"id":"1b91702b.f09e6","type":"link in","z":"b50f3595.0e3a28","name":"BedtimeLightsOff","links":[],"x":115,"y":260,"wires":[["929ef857.188298"]]},{"id":"68580e7b.59bde","type":"link out","z":"3788fae5.b038d6","name":"MovieOffLights","links":["8653b724.b6b798"],"x":320,"y":120,"wires":[]},{"id":"6cad72cb.bffa3c","type":"api-call-service","z":"3788fae5.b038d6","name":"LoungeLight","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"{\"rgb_color\":[0,30,30]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":180,"wires":[[]]},{"id":"29f06b72.ef1114","type":"api-call-service","z":"3788fae5.b038d6","name":"OutsideLightOff","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":240,"wires":[[]]},{"id":"be57c11c.f8293","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":520,"y":300,"wires":[]},{"id":"3a505a79.5ca2f6","type":"function","z":"3788fae5.b038d6","name":"DevicesOn","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"devices_on\"\nreturn msg","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["be57c11c.f8293"]]},{"id":"80e1fa55.2dd948","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":520,"y":360,"wires":[]},{"id":"e226dd7c.ae6b4","type":"function","z":"3788fae5.b038d6","name":"Set Source","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"source_dvd\"\nreturn msg","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["80e1fa55.2dd948"]]},{"id":"f2adc0ca.e01d5","type":"link in","z":"3788fae5.b038d6","name":"Pause","links":["ba2848df.750b58"],"x":155,"y":420,"wires":[["6b3c3077.c736","6cf11b4c.1e6ba4","69c53cd7.421254","33e1c05.760b24","9b895081.0369a","cf96bcfd.6d46d"]]},{"id":"6b3c3077.c736","type":"api-call-service","z":"3788fae5.b038d6","name":"LoungeLight","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"{\"rgb_color\":[80,30,30]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":420,"wires":[[]]},{"id":"6cf11b4c.1e6ba4","type":"api-call-service","z":"3788fae5.b038d6","name":"OutsideLightOn","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":480,"wires":[[]]},{"id":"4d87dc9e.05eec4","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":520,"y":540,"wires":[]},{"id":"69c53cd7.421254","type":"function","z":"3788fae5.b038d6","name":"Set Source","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"source_aux\"\nreturn msg","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["4d87dc9e.05eec4"]]},{"id":"d0df7b03.3e7558","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":520,"y":600,"wires":[]},{"id":"33e1c05.760b24","type":"function","z":"3788fae5.b038d6","name":"Pause","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"pause\"\nreturn msg","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["d0df7b03.3e7558"]]},{"id":"52759888.916928","type":"api-call-service","z":"ef54a0c2.e259d","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"Librespot@Jukebox\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":240,"wires":[["f1ef43ac.57113"]]},{"id":"594b1dc9.7baaf4","type":"api-call-service","z":"ef54a0c2.e259d","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":240,"wires":[["345c013b.a4fdbe"]]},{"id":"ff1531c4.2fb2d","type":"change","z":"ef54a0c2.e259d","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["52759888.916928"]]},{"id":"fa2b4fb.f01d7b","type":"link in","z":"ef54a0c2.e259d","name":"SpotifyPlayPlaylist","links":["bee3b9e6.682758","433622ba.a574ac","8ebc3823.28c588","616f1977.d61988"],"x":115,"y":240,"wires":[["ec05ddd9.e58c6"]]},{"id":"9b895081.0369a","type":"function","z":"3788fae5.b038d6","name":"IntervalMusic","func":"msg.payload=\"interval music uri\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["bee3b9e6.682758"]]},{"id":"f1ef43ac.57113","type":"function","z":"ef54a0c2.e259d","name":"Format","func":"var uri = flow.get(\"uri\")\n\nmsg.payload = \n{\n    data:\n    {\n        \"media_content_type\":\"playlist\",\n        \"media_content_id\":uri\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["594b1dc9.7baaf4"]]},{"id":"bee3b9e6.682758","type":"link out","z":"3788fae5.b038d6","name":"IntervalMusic","links":["fa2b4fb.f01d7b","99f978d8.77fdd8"],"x":475,"y":660,"wires":[]},{"id":"a1a2d7a5.e342d8","type":"link out","z":"3788fae5.b038d6","name":"MovieOffLights","links":["8653b724.b6b798"],"x":740,"y":380,"wires":[]},{"id":"fcc1f3e5.a12e","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":960,"y":560,"wires":[]},{"id":"2f8776c0.82b32a","type":"mqtt out","z":"3788fae5.b038d6","name":"Publish","topic":"","qos":"0","retain":"false","broker":"2eafe4c0.b7da5c","x":960,"y":620,"wires":[]},{"id":"9bcd1e72.0f657","type":"function","z":"3788fae5.b038d6","name":"Play","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"play\"\nreturn msg","outputs":1,"noerr":0,"x":770,"y":620,"wires":[["2f8776c0.82b32a"]]},{"id":"d0f7c7cc.490c18","type":"api-call-service","z":"3788fae5.b038d6","name":"LoungeLight","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"{\"rgb_color\":[0,30,30]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":440,"wires":[[]]},{"id":"38a48f73.f00b9","type":"api-call-service","z":"3788fae5.b038d6","name":"OutsideLightOff","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":500,"wires":[[]]},{"id":"69a6479d.ff2198","type":"function","z":"3788fae5.b038d6","name":"Set Source","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"source_dvd\"\nreturn msg","outputs":1,"noerr":0,"x":790,"y":560,"wires":[["fcc1f3e5.a12e"]]},{"id":"d0d05ed0.1c20d","type":"api-call-service","z":"3788fae5.b038d6","name":"Stop Music","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"media_stop","entityId":"media_player.spotify","data":"{\"source\":\"raspotify\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":680,"wires":[[]]},{"id":"ba2848df.750b58","type":"link out","z":"152554cc.389edb","name":"Btn5 Pause","links":["f2adc0ca.e01d5"],"x":1895,"y":740,"wires":[]},{"id":"cf96bcfd.6d46d","type":"change","z":"3788fae5.b038d6","name":"","rules":[{"t":"set","p":"paused","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":720,"wires":[[]]},{"id":"fd89f781.574d18","type":"change","z":"3788fae5.b038d6","name":"","rules":[{"t":"set","p":"paused","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":740,"wires":[[]]},{"id":"f38dc16c.16a27","type":"link in","z":"3788fae5.b038d6","name":"Play","links":["f65c5281.8848"],"x":595,"y":440,"wires":[["a1a2d7a5.e342d8","9bcd1e72.0f657","69a6479d.ff2198","d0d05ed0.1c20d","d0f7c7cc.490c18","38a48f73.f00b9","fd89f781.574d18"]]},{"id":"6d19006f.a4133","type":"switch","z":"152554cc.389edb","name":"","property":"paused","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1770,"y":720,"wires":[["ba2848df.750b58","f65c5281.8848"]]},{"id":"f65c5281.8848","type":"link out","z":"152554cc.389edb","name":"Button5 Play","links":["f38dc16c.16a27"],"x":1895,"y":680,"wires":[]},{"id":"6aff5836.ec94d8","type":"function","z":"dc525cab.4af5a","name":"Load Playlist","func":"msg.payload = \"spotify:playlist:37i9dQZF1DWWm77sje6VSB\"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":380,"wires":[["616f1977.d61988"]]},{"id":"616f1977.d61988","type":"link out","z":"dc525cab.4af5a","name":"Morning Playlist","links":["fa2b4fb.f01d7b","99f978d8.77fdd8"],"x":1135,"y":380,"wires":[]},{"id":"345c013b.a4fdbe","type":"link out","z":"ef54a0c2.e259d","name":"SpotifyReturn","links":["99a3797d.d57128"],"x":1015,"y":240,"wires":[]},{"id":"99a3797d.d57128","type":"link in","z":"dc525cab.4af5a","name":"Alarm","links":["345c013b.a4fdbe","97a0a945.6d1cb8"],"x":1195,"y":380,"wires":[["13f4ff34.1b1af1"]]},{"id":"cb698e84.66564","type":"cast-to-client","z":"8efb2399.f1af9","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"100","x":550,"y":80,"wires":[["936fad8c.17f24"]],"icon":"node-red-contrib-cast/home.png"},{"id":"545f3a7e.cf5f84","type":"change","z":"8efb2399.f1af9","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"ip","pt":"msg","to":"192.168.1.27","tot":"str"},{"t":"set","p":"message","pt":"msg","to":"music","tot":"str"},{"t":"set","p":"language","pt":"msg","to":"En-gb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[["cb698e84.66564"]]},{"id":"a796fca6.d858c","type":"api-call-service","z":"8efb2399.f1af9","name":"Select Source","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"select_source","entityId":"media_player.spotify","data":"{\"source\":\"bedroom_speaker\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":80,"wires":[["21aad61.9a6152a"]]},{"id":"778151c5.49c37","type":"api-call-service","z":"8efb2399.f1af9","name":"Play Music","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"play_media","entityId":"media_player.spotify","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1290,"y":80,"wires":[[]]},{"id":"936fad8c.17f24","type":"change","z":"8efb2399.f1af9","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":80,"wires":[["a796fca6.d858c"]]},{"id":"21aad61.9a6152a","type":"function","z":"8efb2399.f1af9","name":"Format","func":"var uri = flow.get(\"uri\")\n\nmsg.payload = \n{\n    data:\n    {\n        \"media_content_type\":\"playlist\",\n        \"media_content_id\":uri\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":80,"wires":[["778151c5.49c37"]]},{"id":"3a88dc46.74acb4","type":"function","z":"8efb2399.f1af9","name":"Save URI","func":"flow.set(\"uri\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["545f3a7e.cf5f84"]]},{"id":"ec05ddd9.e58c6","type":"function","z":"ef54a0c2.e259d","name":"Save URI","func":"flow.set(\"uri\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":240,"wires":[["ff1531c4.2fb2d"]]},{"id":"2721a371.68b63c","type":"subflow:8efb2399.f1af9","z":"ef54a0c2.e259d","name":"Play On GHM","env":[],"x":230,"y":480,"wires":[]},{"id":"ebb644f1.87aee8","type":"api-call-service","z":"8dc4db95.863a28","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"raspotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":80,"wires":[["acdb9595.de7918"]]},{"id":"a168d8f.5574f28","type":"api-call-service","z":"8dc4db95.863a28","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":80,"wires":[[]]},{"id":"ffe7743c.8fb3a8","type":"change","z":"8dc4db95.863a28","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["ebb644f1.87aee8"]]},{"id":"acdb9595.de7918","type":"function","z":"8dc4db95.863a28","name":"Restore","func":"msg.payload = flow.get(\"data\")\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["a168d8f.5574f28"]]},{"id":"60efd2b7.c8f81c","type":"function","z":"8dc4db95.863a28","name":"Save Payload","func":"flow.set(\"data\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["ffe7743c.8fb3a8"]]},{"id":"2812674d.817bc8","type":"function","z":"fa310ecb.c84eb","name":"John Mayer","func":"msg.payload=\"spotify:playlist:37i9dQZF1DWYrlaUEYy4Vg\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":480,"wires":[["9ddaee69.14da5"]]},{"id":"b3a79b0b.db0ed8","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":480,"wires":[["2812674d.817bc8"]]},{"id":"9ddaee69.14da5","type":"subflow:8efb2399.f1af9","z":"fa310ecb.c84eb","name":"","env":[],"x":620,"y":480,"wires":[]},{"id":"16dd58a7.09dac7","type":"api-call-service","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","version":"1","service_domain":"persistent_notification","service":"create","entityId":"philip","data":"{\"message\":\"Test\",\"title\":\"Test Message\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":560,"wires":[[]]},{"id":"32a5104a.48702","type":"api-call-service","z":"fa310ecb.c84eb","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"raspotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":720,"wires":[[]]},{"id":"53ccf0c4.0494a","type":"api-call-service","z":"fa310ecb.c84eb","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":820,"wires":[[]]},{"id":"15ad3eea.743041","type":"stoptimer","z":"fa310ecb.c84eb","duration":"100","units":"Millisecond","payloadtype":"num","payloadval":"","name":"","x":400,"y":840,"wires":[["53ccf0c4.0494a"],[]]},{"id":"c926d31e.c5553","type":"change","z":"fa310ecb.c84eb","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":720,"wires":[["32a5104a.48702"]]},{"id":"cb97531.f1c1cb","type":"function","z":"152554cc.389edb","name":"Show Tag","func":"var tag = msg.payload\n\nmsg.payload = \n{\n    data:\n    {\n        \"message\": msg.payload,\n        \"title\": \"Unrecognised Tag\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["16dd58a7.09dac7"]]},{"id":"ab7054af.900578","type":"file","z":"152554cc.389edb","name":"save tag","filename":"/share/unhandled_tags.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":720,"y":500,"wires":[[]]},{"id":"77cc4a87.74f634","type":"inject","z":"152554cc.389edb","name":"","topic":"","payload":"{\"addon\":\"core_rpc_shutdown\",\"input\":\"desktop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1510,"y":440,"wires":[["bec3e2b9.a62b7"]]},{"id":"3588c40.30fe83c","type":"api-call-service","z":"152554cc.389edb","name":"Select Source","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"select_source","entityId":"media_player.spotify","data":"{\"source\":\"Librespot@Jukebox\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":640,"wires":[["b0e16619.df8b38"]]},{"id":"964c8b2c.5aed58","type":"api-call-service","z":"152554cc.389edb","name":"Play Music","server":"7d575fd3.be153","version":"1","service_domain":"media_player","service":"play_media","entityId":"media_player.spotify","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":640,"wires":[["be753f6e.c4262"]]},{"id":"2a65857f.b92bfa","type":"change","z":"152554cc.389edb","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":640,"wires":[["3588c40.30fe83c"]]},{"id":"b0e16619.df8b38","type":"function","z":"152554cc.389edb","name":"Restore","func":"msg.payload = flow.get(\"data\")\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":640,"wires":[["964c8b2c.5aed58"]]},{"id":"9797be1a.8e886","type":"function","z":"152554cc.389edb","name":"Save Payload","func":"flow.set(\"data\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["2a65857f.b92bfa"]]},{"id":"d6084963.8f9448","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1560,"y":280,"wires":[]},{"id":"4608ac35.bb9bf4","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":500,"wires":[]},{"id":"9caa92a0.a7d8b","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1560,"y":680,"wires":[]},{"id":"91e1aa96.f61138","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":960,"wires":[]},{"id":"6830a69e.0e1898","type":"mqtt in","z":"152554cc.389edb","name":"Button 2","topic":"coffee_table/btn2","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1420,"y":1100,"wires":[["3749828a.e1efae"]]},{"id":"3f7a74fb.3a8d6c","type":"mqtt in","z":"152554cc.389edb","name":"Button 3","topic":"coffee_table/btn3","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1340,"y":1200,"wires":[["c8b64d36.f35","9eff93a3.d32b8"]]},{"id":"3749828a.e1efae","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":1100,"wires":[]},{"id":"c8b64d36.f35","type":"debug","z":"152554cc.389edb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":1160,"wires":[]},{"id":"1232e22b.3aa97e","type":"mqtt out","z":"152554cc.389edb","name":"","topic":"","qos":"","retain":"","broker":"2eafe4c0.b7da5c","x":1230,"y":480,"wires":[]},{"id":"be753f6e.c4262","type":"function","z":"152554cc.389edb","name":"Amp Source","func":"msg.topic = \"coffee_table/command\"\nmsg.payload = \"source_aux\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":480,"wires":[["1232e22b.3aa97e"]]},{"id":"b0082697.274b38","type":"api-call-service","z":"ef54a0c2.e259d","name":"Select Source","server":"7d575fd3.be153","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"Kodi (Jukebox)\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":540,"wires":[["3a9da6fb.a2677a"]]},{"id":"f7fb213a.c8af1","type":"api-call-service","z":"ef54a0c2.e259d","name":"Play Music","server":"7d575fd3.be153","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\",\"media_content_type\":\"playlist\",\"media_content_id\":\"spotify:playlist:37i9dQZF1DWYrlaUEYy4Vg\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":540,"wires":[[]]},{"id":"3a9da6fb.a2677a","type":"function","z":"ef54a0c2.e259d","name":"John Mayer","func":"msg.payload = \n{\n    data:\n    {\n        \"media_content_type\":\"playlist\",\n        \"media_content_id\":\"spotify:playlist:37i9dQZF1DWYrlaUEYy4Vg\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["f7fb213a.c8af1","6003dd5b.6a7464"]]},{"id":"6003dd5b.6a7464","type":"debug","z":"ef54a0c2.e259d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":620,"wires":[]},{"id":"9096b173.59172","type":"inject","z":"ef54a0c2.e259d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":560,"wires":[["b0082697.274b38"]]},{"id":"f9978cbe.2de58","type":"spotify","z":"ef54a0c2.e259d","name":"Spotify","auth":"6db11244.bdedac","api":"getMyDevices","x":350,"y":340,"wires":[["47093f16.49e58"]]},{"id":"3456a225.cc296e","type":"inject","z":"ef54a0c2.e259d","name":"","topic":"","payload":"Devices","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["f9978cbe.2de58"]]},{"id":"47093f16.49e58","type":"debug","z":"ef54a0c2.e259d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":340,"wires":[]},{"id":"a17917a4.abed38","type":"spotify","z":"ef54a0c2.e259d","name":"Spotify","auth":"6db11244.bdedac","api":"getUserPlaylists","x":350,"y":400,"wires":[["59e2dd4b.62e0c4"]]},{"id":"5dc5d578.0d57cc","type":"inject","z":"ef54a0c2.e259d","name":"","topic":"","payload":"Playlists","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["a17917a4.abed38"]]},{"id":"59e2dd4b.62e0c4","type":"debug","z":"ef54a0c2.e259d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":400,"wires":[]},{"id":"9e84bbab.f55708","type":"inject","z":"ef54a0c2.e259d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":480,"wires":[["3a9da6fb.a2677a"]]},{"id":"bdf4bd0d.46605","type":"inject","z":"ef54a0c2.e259d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":460,"wires":[["f7fb213a.c8af1"]]},{"id":"c314409e.98e99","type":"mqtt in","z":"152554cc.389edb","name":"Button 6","topic":"coffee_table/btn6","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1380,"y":360,"wires":[["f1a3ca51.122d78"]]},{"id":"668cf769.103728","type":"mqtt in","z":"152554cc.389edb","name":"Button 4","topic":"coffee_table/btn4","qos":"0","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1340,"y":920,"wires":[["82a2581a.cf2ae8","91e1aa96.f61138"]]},{"id":"9eff93a3.d32b8","type":"switch","z":"152554cc.389edb","name":"Click Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"click","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1260,"wires":[["5d8da591.3dc9ec"],["c1d7fa05.898338"]]},{"id":"5d8da591.3dc9ec","type":"api-call-service","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","service_domain":"media_player","service":"media_previous_track","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1860,"y":1240,"wires":[[]]},{"id":"c1d7fa05.898338","type":"api-call-service","z":"152554cc.389edb","name":"","server":"7d575fd3.be153","service_domain":"media_player","service":"media_play_pause","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1850,"y":1300,"wires":[[]]},{"id":"312805c6.46d2da","type":"server-state-changed","z":"b50f3595.0e3a28","name":"Back Opened/Closed","server":"7d575fd3.be153","version":1,"entityidfilter":"binary_sensor.back_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":320,"y":480,"wires":[["8085622.58e35a"],["6494af9e.89727"]]},{"id":"8085622.58e35a","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is it after sunset?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":420,"wires":[["88bbfada.4c06f8"],["5817017a.83b1a"]]},{"id":"88bbfada.4c06f8","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back to full brightness","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.back","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":380,"wires":[[]]},{"id":"5817017a.83b1a","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":460,"wires":[[]]},{"id":"e9679ca8.b2ed","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is it still dark?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":540,"wires":[["2f04b1f7.295c0e"],["67b9db44.4d7064"]]},{"id":"2f04b1f7.295c0e","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back light 30%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.back","data":"{\"brightness\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":520,"wires":[[]]},{"id":"67b9db44.4d7064","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back Light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":560,"wires":[[]]},{"id":"6494af9e.89727","type":"stoptimer","z":"b50f3595.0e3a28","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":580,"y":540,"wires":[["e9679ca8.b2ed"],[]]},{"id":"907c5282.51da5","type":"comment","z":"b50f3595.0e3a28","name":"Back Door and Light","info":"","x":310,"y":420,"wires":[]},{"id":"95a5aa62.034ba8","type":"server-state-changed","z":"b50f3595.0e3a28","name":"Sunset","server":"7d575fd3.be153","version":1,"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"x":290,"y":720,"wires":[["830afdca.6f749","13f35097.982eff"],["583c2490.30e78c","5b89a2ac.1c793c"]]},{"id":"830afdca.6f749","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is back open?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.back_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":660,"wires":[["791f0a07.89f7c4"],["51282dc9.460e34"]]},{"id":"791f0a07.89f7c4","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back Light 100%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.back","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":640,"wires":[[]]},{"id":"51282dc9.460e34","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back Light 30%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.back","data":"{\"brightness\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":680,"wires":[[]]},{"id":"13f35097.982eff","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is front open?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.front_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":760,"wires":[["ddafeeff.f862d"],["b13c60ff.1036b"]]},{"id":"ddafeeff.f862d","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front Light 100%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.front","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":740,"wires":[[]]},{"id":"b13c60ff.1036b","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front Light 30%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.front","data":"{\"brightness\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":720,"y":780,"wires":[[]]},{"id":"22dd6689.a550ca","type":"server-state-changed","z":"b50f3595.0e3a28","name":"Front Opened/Closed","server":"7d575fd3.be153","version":1,"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":320,"y":1080,"wires":[["150a9030.d1d0b"],["d986ae18.f7561"]]},{"id":"150a9030.d1d0b","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is it after sunset?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1020,"wires":[["48e86224.ec4c0c"],["bc2e06ab.073d08"]]},{"id":"bc2e06ab.073d08","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1060,"wires":[[]]},{"id":"f9f7b773.3f94e8","type":"api-current-state","z":"b50f3595.0e3a28","name":"Is it still dark?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":1140,"wires":[["a3737a27.807358"],["a2f86652.7e0328"]]},{"id":"d986ae18.f7561","type":"stoptimer","z":"b50f3595.0e3a28","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":580,"y":1140,"wires":[["f9f7b773.3f94e8"],[]]},{"id":"e8fbe5aa.d15a28","type":"comment","z":"b50f3595.0e3a28","name":"Front Door and Light","info":"","x":310,"y":1020,"wires":[]},{"id":"a2f86652.7e0328","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":1180,"wires":[[]]},{"id":"48e86224.ec4c0c","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front Light 100%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.front","data":"{\"brightness\":255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":980,"wires":[[]]},{"id":"a3737a27.807358","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front Light 30%","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_on","entityId":"light.front","data":"{\"brightness\":80}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":1120,"wires":[[]]},{"id":"687750e2.851d6","type":"api-call-service","z":"fa310ecb.c84eb","name":"House State - Waking Up","server":"7d575fd3.be153","service_domain":"variable","service":"set_variable","data":"{\"variable\":\"house_state\",\"value\":\"Waking Up\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":1040,"wires":[["3a9411f8.6ef09e"]]},{"id":"8383ad52.ec695","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":1040,"wires":[["687750e2.851d6"]]},{"id":"3a9411f8.6ef09e","type":"debug","z":"fa310ecb.c84eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1040,"wires":[]},{"id":"583c2490.30e78c","type":"api-call-service","z":"b50f3595.0e3a28","name":"Front light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.front","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":840,"wires":[[]]},{"id":"5b89a2ac.1c793c","type":"api-call-service","z":"b50f3595.0e3a28","name":"Back Light off","server":"7d575fd3.be153","version":"1","service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":880,"wires":[[]]},{"id":"1e62ddac.b31952","type":"udp in","z":"fa310ecb.c84eb","name":"aqara_gateway","iface":"","port":"9898","ipv":"udp4","multicast":"true","group":"224.0.0.50","datatype":"utf8","x":420,"y":220,"wires":[["f15c931a.d3f85"]]},{"id":"f15c931a.d3f85","type":"json","z":"fa310ecb.c84eb","name":"","property":"payload","action":"","pretty":false,"x":590,"y":220,"wires":[[]]},{"id":"58eecbc1.fed0c4","type":"api-current-state","z":"5e97ea24.516424","name":"Is it going to rain","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"60","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.dark_sky_forecast_precip_probability_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":120,"wires":[["ae2a37f9.0b25b8"],["fca6e05d.2f9a5"]]},{"id":"fca6e05d.2f9a5","type":"api-current-state","z":"5e97ea24.516424","name":"Max temp","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.dark_sky_forecast_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":480,"y":240,"wires":[["ef0a5b72.d01958"],[]]},{"id":"ef0a5b72.d01958","type":"function","z":"5e97ea24.516424","name":"Water Time","func":"msg.max_temp = msg.payload\n\nvar seconds = ((0.75 * msg.payload) + 0) * 60\nvar pulse = 0;\n\nif(seconds <= 11)\n{\n    pulse = seconds * 10;\n}\nelse\n{\n    pulse = seconds + 100;\n}\n\nmsg.topic = \"cmnd/sonoff_garden/PulseTime\"\nmsg.payload = pulse\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["25fffa1f.491b06","56fb19b5.dc56d8"]]},{"id":"25fffa1f.491b06","type":"mqtt out","z":"5e97ea24.516424","name":"","topic":"","qos":"","retain":"","broker":"2eafe4c0.b7da5c","x":910,"y":240,"wires":[]},{"id":"6884fdce.1c06c4","type":"api-current-state","z":"5e97ea24.516424","name":"Is it going to rain enough?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.dark_sky_forecast_daily_max_precip_intensity_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":80,"wires":[["fddb6960.82fe78"],["98095b97.21aaa8"]]},{"id":"5f47c1e.369284","type":"api-current-state","z":"5e97ea24.516424","name":"Did it rain?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.dark_sky_precip_intensity","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":360,"wires":[["9b0c4919.432c68"],["5650274e.3a1738"]]},{"id":"83c823a.f8046e","type":"api-current-state","z":"5e97ea24.516424","name":"Max temp","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.dark_sky_forecast_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":440,"wires":[["9885bb2b.020218"],[]]},{"id":"9885bb2b.020218","type":"function","z":"5e97ea24.516424","name":"Water Time","func":"msg.max_temp = msg.payload\nvar seconds = (0.5 * msg.payload) * 60\nvar pulse = 0;\n\nif(seconds <= 11)\n{\n    pulse = seconds * 10;\n}\nelse\n{\n    pulse = seconds + 100;\n}\nmsg.topic = \"cmnd/sonoff_garden/PulseTime\"\nmsg.payload = pulse\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["bedb8077.e3b2","c0a2e16.268822"]]},{"id":"bedb8077.e3b2","type":"mqtt out","z":"5e97ea24.516424","name":"","topic":"","qos":"","retain":"","broker":"2eafe4c0.b7da5c","x":690,"y":400,"wires":[]},{"id":"dfce437d.5d996","type":"telegram sender","z":"7096029a.79ff6c","name":"Garden Bot","bot":"23029ca2.ce4fa4","x":690,"y":160,"wires":[[]]},{"id":"9a431cab.15f0e","type":"function","z":"7096029a.79ff6c","name":"Home chatID","func":"var temp = msg.payload;\n\nmsg.payload = \n{\n    \"chatId\": -257391012,\n    \"type\": \"message\",\n    \"content\": temp\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["cf85324f.7cd84"]]},{"id":"d143b5ab.d0e478","type":"subflow:7096029a.79ff6c","z":"5e97ea24.516424","name":"","env":[],"x":880,"y":500,"wires":[]},{"id":"5650274e.3a1738","type":"function","z":"5e97ea24.516424","name":"Prepare text","func":"msg.rainfall = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["83c823a.f8046e"]]},{"id":"c0a2e16.268822","type":"function","z":"5e97ea24.516424","name":"Prepare Text","func":"msg.topic = \"garden\"\nmsg.payload = \"PM Water Time: \" + ((msg.payload - 100) / 60);\nmsg.payload += \" minutes\\n\";\nmsg.payload += \"Rain Today: \" + msg.rainfall;\nmsg.payload += \" mm\\n\";\nmsg.payload += \"Max Temp: \" + msg.max_temp;\nmsg.payload += \"C\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":500,"wires":[["d143b5ab.d0e478"]]},{"id":"76f3ed71.c528e4","type":"subflow:7096029a.79ff6c","z":"5e97ea24.516424","name":"","env":[],"x":1170,"y":60,"wires":[]},{"id":"fddb6960.82fe78","type":"function","z":"5e97ea24.516424","name":"Prepare Text","func":"msg.topic = \"garden\"\nmsg.payload = \"Expected rain: \" + msg.payload;\nmsg.payload += \" mm/h\\n\";\nmsg.payload += \"Chance: \" + msg.rain_chance;\nmsg.payload += \"%\\n\";\nmsg.payload += \"So no water this morning\";\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":60,"wires":[["76f3ed71.c528e4"]]},{"id":"ae2a37f9.0b25b8","type":"function","z":"5e97ea24.516424","name":"Prepare text","func":"msg.rain_chance = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["6884fdce.1c06c4"]]},{"id":"98095b97.21aaa8","type":"function","z":"5e97ea24.516424","name":"Prepare text","func":"msg.rain_intensity = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":160,"wires":[["fca6e05d.2f9a5"]]},{"id":"271e575b.8d92e8","type":"subflow:7096029a.79ff6c","z":"5e97ea24.516424","name":"","env":[],"x":1200,"y":300,"wires":[]},{"id":"56fb19b5.dc56d8","type":"function","z":"5e97ea24.516424","name":"Prepare Text","func":"msg.topic = \"garden\"\nmsg.payload = \"AM Water Time: \" + ((msg.payload - 100) / 60);\nmsg.payload += \" minutes\\n\";\nmsg.payload += \"Expected rain: \" + msg.rain_intensity;\nmsg.payload += \" mm/h\\n\";\nmsg.payload += \"Chance: \" + msg.rain_chance;\nmsg.payload += \"%\\n\";\nmsg.payload += \"Max Temp: \" + msg.max_temp;\nmsg.payload += \"C\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["271e575b.8d92e8"]]},{"id":"3dc4a0e7.cb943","type":"inject","z":"5e97ea24.516424","name":"5am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["58eecbc1.fed0c4"]]},{"id":"e24fae3.91ca85","type":"inject","z":"5e97ea24.516424","name":"8pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["5f47c1e.369284"]]},{"id":"abd96386.8366","type":"subflow:7096029a.79ff6c","z":"5e97ea24.516424","name":"","env":[],"x":660,"y":320,"wires":[]},{"id":"9b0c4919.432c68","type":"function","z":"5e97ea24.516424","name":"Prepare Text","func":"msg.topic = \"garden\"\nmsg.payload = \"No water tonight, it rained.\"\nmsg.payload += \"Rain Today: \" + msg.payload;\nmsg.payload += \" mm\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["abd96386.8366"]]},{"id":"cf85324f.7cd84","type":"switch","z":"7096029a.79ff6c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"garden","vt":"str"},{"t":"eq","v":"batteries","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":220,"wires":[["dfce437d.5d996"],["8e3ead15.2b4e4"]]},{"id":"8e3ead15.2b4e4","type":"telegram sender","z":"7096029a.79ff6c","name":"Battery Bot","bot":"83addd5e.3fa6","x":690,"y":220,"wires":[[]]},{"id":"f6785df5.58803","type":"ha-get-entities","z":"62f232c2.0dd08c","server":"7d575fd3.be153","name":"Batteries","rules":[{"property":"attributes.battery_level","logic":"lt","value":"40","valueType":"num"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":300,"y":80,"wires":[["8f1fae3f.13128"]]},{"id":"8197b6cc.ec0a48","type":"subflow:7096029a.79ff6c","z":"62f232c2.0dd08c","name":"","env":[],"x":620,"y":80,"wires":[]},{"id":"8f1fae3f.13128","type":"function","z":"62f232c2.0dd08c","name":"Parse","func":"msg.topic = \"batteries\"\n\nvar message = \"Low Batteries\\n\"\nfor(i = 0 ; i < msg.payload.length; i++)\n{\n    message += msg.payload[i].attributes.friendly_name + \": \"\n    message += msg.payload[i].attributes.battery_level + \"%\\n\"\n}\n\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["8197b6cc.ec0a48"]]},{"id":"11d949ee.321536","type":"inject","z":"62f232c2.0dd08c","name":"11:30am","topic":"batteries","payload":"","payloadType":"date","repeat":"","crontab":"30 11 * * *","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["f6785df5.58803"]]},{"id":"ff0d71bd.d2b91","type":"comment","z":"62f232c2.0dd08c","name":"Low battery alert","info":"","x":160,"y":40,"wires":[]},{"id":"79da0004.adca3","type":"inject","z":"fa310ecb.c84eb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":100,"wires":[[]]},{"id":"d7c42c52.4c3e","type":"server-state-changed","z":"62f232c2.0dd08c","name":"MQTT Pair","server":"7d575fd3.be153","version":1,"entityidfilter":"input_boolean.zigbee_permit_join","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["c9ef9198.2a334"],["aa68a33b.3692"]]},{"id":"1fe49938.52d287","type":"mqtt out","z":"62f232c2.0dd08c","name":"","topic":"","qos":"","retain":"","broker":"2eafe4c0.b7da5c","x":690,"y":240,"wires":[]},{"id":"5ea20869.b1c748","type":"function","z":"62f232c2.0dd08c","name":"Join on","func":"msg.topic = \"zigbee2mqtt/bridge/config/permit_join\"\nmsg.payload = \"true\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["1fe49938.52d287"]]},{"id":"c9ef9198.2a334","type":"api-call-service","z":"62f232c2.0dd08c","name":"Start Timer","server":"7d575fd3.be153","version":1,"service_domain":"timer","service":"start","entityId":"timer.zigbee_permit_join","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":200,"wires":[["5ea20869.b1c748"]]},{"id":"aa68a33b.3692","type":"api-call-service","z":"62f232c2.0dd08c","name":"Stop Timer","server":"7d575fd3.be153","version":1,"service_domain":"timer","service":"cancel","entityId":"timer.zigbee_permit_join","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":280,"wires":[[]]},{"id":"cdf5e2d6.f8e5f","type":"function","z":"62f232c2.0dd08c","name":"Join off","func":"msg.topic = \"zigbee2mqtt/bridge/config/permit_join\"\nmsg.payload = \"false\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["1fe49938.52d287"]]},{"id":"54c2f5a5.aff98c","type":"server-state-changed","z":"62f232c2.0dd08c","name":"Pair Timer Expired","server":"7d575fd3.be153","version":1,"entityidfilter":"timer.zigbee_permit_join","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"idle","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":340,"wires":[["741a1712.015708"],[]]},{"id":"741a1712.015708","type":"api-call-service","z":"62f232c2.0dd08c","name":"clear bool","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.zigbee_permit_join","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":360,"y":340,"wires":[["cdf5e2d6.f8e5f"]]},{"id":"66f9c23a.75febc","type":"comment","z":"62f232c2.0dd08c","name":"Zigbee Pairing","info":"","x":150,"y":180,"wires":[]},{"id":"428aad79.8e98e4","type":"mqtt out","z":"62f232c2.0dd08c","name":"","topic":"","qos":"","retain":"","broker":"2eafe4c0.b7da5c","x":510,"y":480,"wires":[]},{"id":"4e8e5e9a.35431","type":"status","z":"62f232c2.0dd08c","name":"HASSIO Boot","scope":["1fe49938.52d287"],"x":210,"y":480,"wires":[["2cc991c7.0b963e"]]},{"id":"2cc991c7.0b963e","type":"switch","z":"62f232c2.0dd08c","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":480,"wires":[["428aad79.8e98e4"]]},{"id":"cc487fc2.b40e4","type":"status","z":"152554cc.389edb","name":"HASSIO Boot","scope":["d82b898d.8d2e48"],"x":90,"y":180,"wires":[["7511ac32.864f94"]]},{"id":"7511ac32.864f94","type":"switch","z":"152554cc.389edb","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["f11098a2.4b88f8"]]},{"id":"81751a9d.8b6768","type":"telegram receiver","z":"62f232c2.0dd08c","name":"Battery Bot rx","bot":"83addd5e.3fa6","saveDataDir":"","x":190,"y":580,"wires":[[],["323abf5c.a08e7"]]},{"id":"66f45eb2.0ae32","type":"ha-get-entities","z":"62f232c2.0dd08c","server":"7d575fd3.be153","name":"Batteries","rules":[{"property":"attributes.battery_level","logic":"gt","value":"0","valueType":"num"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":580,"y":580,"wires":[["10721432.a6deac"]]},{"id":"10721432.a6deac","type":"function","z":"62f232c2.0dd08c","name":"Parse","func":"var message = \"Battery Levels:\\n\"\nfor(i = 0 ; i < msg.payload.length; i++)\n{\n    message += msg.payload[i].attributes.friendly_name + \": \"\n    message += msg.payload[i].attributes.battery_level + \"%\\n\"\n}\n\nmsg.payload = flow.get('reply');\nmsg.payload.content = message\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":580,"wires":[["311856db.cf16ea"]]},{"id":"311856db.cf16ea","type":"telegram sender","z":"62f232c2.0dd08c","name":"","bot":"83addd5e.3fa6","x":930,"y":580,"wires":[[]]},{"id":"323abf5c.a08e7","type":"function","z":"62f232c2.0dd08c","name":"Save reply","func":"flow.set(\"reply\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["66f45eb2.0ae32"]]},{"id":"78b23ea6.dcf68","type":"switch","z":"62f232c2.0dd08c","name":"Xiaomi Buttons","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.bedside_button","vt":"str"},{"t":"eq","v":"binary_sensor.mes_button","vt":"str"},{"t":"eq","v":"binary_sensor.bedroom_wall","vt":"str"},{"t":"eq","v":"binary_sensor.entrance_button","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":580,"y":840,"wires":[[],[],[],[]]},{"id":"6617f4a2.c0ef0c","type":"server-events","z":"62f232c2.0dd08c","name":"Aqara Click","server":"7d575fd3.be153","event_type":"xiaomi_aqara.click","x":350,"y":840,"wires":[["78b23ea6.dcf68"]]},{"id":"951ebb1b.aedb38","type":"comment","z":"86a3c02f.3051a","name":"TRIGGER ALARM CLOCK","info":"","x":230,"y":120,"wires":[]},{"id":"21a768bf.736828","type":"join","z":"86a3c02f.3051a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":140,"wires":[["72ba238c.949acc"]]},{"id":"72ba238c.949acc","type":"function","z":"86a3c02f.3051a","name":"Compare Times","func":"newmsg = {};\nif (msg.payload[0] == msg.payload[1]) {\n    newmsg.payload = \"True\";\n} else {\n    newmsg.payload = \"False\";\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":1180,"y":200,"wires":[["f1ba2345.5cc9a"]]},{"id":"f1ba2345.5cc9a","type":"switch","z":"86a3c02f.3051a","name":"Is it Time?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":260,"wires":[["49b0602e.96e57","e7230f88.15f9e"]]},{"id":"617433c5.87712c","type":"api-current-state","z":"86a3c02f.3051a","name":"Alarm Clock ON?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_enabled","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":610,"y":180,"wires":[["a31fd267.fff56","66f16d49.ceea74"],[]]},{"id":"a31fd267.fff56","type":"api-current-state","z":"86a3c02f.3051a","name":"Get Alarm Time","server":"7d575fd3.be153","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_datetime.alarmclock_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920,"y":260,"wires":[["1197e274.51606e"]]},{"id":"66f16d49.ceea74","type":"moment","z":"86a3c02f.3051a","name":"Current Time","topic":"","input":"","inputType":"date","inTz":"Africa/Johannesburg","adjAmount":"0","adjType":"minutes","adjDir":"add","format":"H:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Africa/Johannesburg","x":930,"y":140,"wires":[["21a768bf.736828"]]},{"id":"4ed7e717.239db8","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["8aeb0a62.eafe88"]]},{"id":"1197e274.51606e","type":"moment","z":"86a3c02f.3051a","name":"Alarm - 10min","topic":"","input":"payload","inputType":"msg","inTz":"Africa/Johannesburg","adjAmount":"10","adjType":"minutes","adjDir":"subtract","format":"H:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Africa/Johannesburg","x":920,"y":200,"wires":[["21a768bf.736828"]]},{"id":"49b0602e.96e57","type":"api-call-service","z":"86a3c02f.3051a","name":"House State - Waking Up","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_clock_active","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1470,"y":200,"wires":[[]]},{"id":"f261c354.9a785","type":"server-state-changed","z":"86a3c02f.3051a","name":"Wake Up House","server":"7d575fd3.be153","version":1,"entityidfilter":"input_boolean.alarm_clock_active","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":400,"y":460,"wires":[["45474777.933ac8","3dea446c.b5e58c","9299d151.36775"],[]]},{"id":"8aeb0a62.eafe88","type":"api-current-state","z":"86a3c02f.3051a","name":"Philip is home","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.huawei_p9_lite","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":180,"wires":[["617433c5.87712c"],[]]},{"id":"b37f9998.3759e8","type":"function","z":"86a3c02f.3051a","name":"Sunrise Effect","func":"msg.payload = \n{\n    data:\n    {\n        \"effect\": \"Sunrise\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":440,"wires":[["4d54e0ea.338b1"]]},{"id":"4d54e0ea.338b1","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":440,"wires":[[]]},{"id":"45474777.933ac8","type":"api-current-state","z":"86a3c02f.3051a","name":"Music Enabled","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_music","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":620,"y":520,"wires":[["749d4018.ec617"],[]]},{"id":"3dea446c.b5e58c","type":"api-current-state","z":"86a3c02f.3051a","name":"Lights Enabled","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_lights","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":640,"y":420,"wires":[["b37f9998.3759e8"],[]]},{"id":"749d4018.ec617","type":"function","z":"86a3c02f.3051a","name":"Load Playlist","func":"msg.payload = \n{\n    data:\n    {\n        \"device_name\":\"Bedroom speaker\",\n        \"uri\":\"spotify:playlist:37i9dQZF1DX1rVvRgjX59F\",\n        \"random_song\": true\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":520,"wires":[["dea0e52f.d0eb08"]]},{"id":"dea0e52f.d0eb08","type":"api-call-service","z":"86a3c02f.3051a","name":"Spotcast","server":"7d575fd3.be153","version":1,"service_domain":"spotcast","service":"start","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":520,"wires":[[]]},{"id":"777251bb.27d0f","type":"delay","z":"86a3c02f.3051a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":640,"wires":[["209f25f6.5060ea"]]},{"id":"9e7d566f.c0eeb8","type":"link in","z":"86a3c02f.3051a","name":"","links":["34964cfd.3c65e4","66b80fc4.ba25b","f6c80296.f4169","e4ac6eb1.fcbac","51cf81a7.976a8"],"x":135,"y":700,"wires":[["6ac50ad7.b3eb24"]]},{"id":"a2dbb7bf.7abb28","type":"api-call-service","z":"86a3c02f.3051a","name":"House State - Waking Up","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_clock_active","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":620,"wires":[[]]},{"id":"8e96267b.55e438","type":"api-call-service","z":"86a3c02f.3051a","name":"House State - Snooze","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm_clock_active","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":580,"y":900,"wires":[[]]},{"id":"6ac50ad7.b3eb24","type":"api-current-state","z":"86a3c02f.3051a","name":"Currently Active","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_active","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":300,"y":700,"wires":[["777251bb.27d0f","8e96267b.55e438","fd44a722.43ea38","d2ec98c7.e44a18","bbb99ab7.14d918"],[]]},{"id":"c60a710d.89a63","type":"link in","z":"86a3c02f.3051a","name":"","links":["859b99e7.e716b8","bd6bd6b4.21ebb8","e8b6e211.8391f","f1c1ba61.562008"],"x":675,"y":1240,"wires":[["8ff826ff.336198"]]},{"id":"8ff826ff.336198","type":"api-current-state","z":"86a3c02f.3051a","name":"Alarm Active","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_active","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":810,"y":1240,"wires":[["89aceef6.5c2db","60205cc6.113a64","cedba0b5.8b3b7"],[]]},{"id":"89aceef6.5c2db","type":"api-call-service","z":"86a3c02f.3051a","name":"House State - Awake","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm_clock_active","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1040,"y":1320,"wires":[[]]},{"id":"e7230f88.15f9e","type":"api-call-service","z":"86a3c02f.3051a","name":"Turn Off AC","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.bedroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1430,"y":340,"wires":[[]]},{"id":"f1c885ac.695b58","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1380,"y":120,"wires":[["49b0602e.96e57"]]},{"id":"89154aae.1a8ea8","type":"api-current-state","z":"86a3c02f.3051a","name":"","server":"7d575fd3.be153","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_active","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1220,"y":740,"wires":[["96024a8.f9d60b8"]]},{"id":"7d96a4a1.fd496c","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":740,"wires":[["89154aae.1a8ea8"]]},{"id":"96024a8.f9d60b8","type":"debug","z":"86a3c02f.3051a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":740,"wires":[]},{"id":"9b89ed1.d99b51","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":1100,"wires":[["8ff826ff.336198"]]},{"id":"4d7464c1.e964ec","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["6ac50ad7.b3eb24"]]},{"id":"209f25f6.5060ea","type":"api-current-state","z":"86a3c02f.3051a","name":"Snooze Still On","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_snooze","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":800,"y":640,"wires":[["a2dbb7bf.7abb28"],[]]},{"id":"7ba7db28.473424","type":"api-current-state","z":"86a3c02f.3051a","name":"","server":"7d575fd3.be153","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_snooze","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1230,"y":820,"wires":[["da7d0908.080878"]]},{"id":"222bbc2f.35a954","type":"inject","z":"86a3c02f.3051a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":820,"wires":[["7ba7db28.473424"]]},{"id":"da7d0908.080878","type":"debug","z":"86a3c02f.3051a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":820,"wires":[]},{"id":"bbb99ab7.14d918","type":"api-call-service","z":"86a3c02f.3051a","name":"Snooze On","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.alarm_clock_snooze","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":840,"wires":[[]]},{"id":"d2ec98c7.e44a18","type":"api-call-service","z":"86a3c02f.3051a","name":"Pause Music","server":"7d575fd3.be153","version":1,"service_domain":"media_player","service":"media_pause","entityId":"media_player.spotify","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":780,"wires":[[]]},{"id":"fd44a722.43ea38","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":720,"wires":[[]]},{"id":"60205cc6.113a64","type":"api-call-service","z":"86a3c02f.3051a","name":"Snooze Off","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm_clock_snooze","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1010,"y":1240,"wires":[[]]},{"id":"cedba0b5.8b3b7","type":"function","z":"86a3c02f.3051a","name":"Dawn","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\": \"2500\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1180,"wires":[["398ef51a.729b6a"]]},{"id":"398ef51a.729b6a","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":1180,"wires":[[]]},{"id":"80d3f246.1704d","type":"link in","z":"86a3c02f.3051a","name":"","links":["34964cfd.3c65e4","66b80fc4.ba25b","f6c80296.f4169","e4ac6eb1.fcbac","51cf81a7.976a8"],"x":635,"y":1460,"wires":[["1168c01c.2fbe4"]]},{"id":"1168c01c.2fbe4","type":"api-current-state","z":"86a3c02f.3051a","name":"Currently Active","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_active","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":780,"y":1460,"wires":[[],["5b454d26.040844"]]},{"id":"5b454d26.040844","type":"api-current-state","z":"86a3c02f.3051a","name":"Lights on?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bedroom","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":1460,"wires":[["885c2d4.b0f47d"],["fdf37a8d.98bfc8"]]},{"id":"885c2d4.b0f47d","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":1420,"wires":[[]]},{"id":"fdf37a8d.98bfc8","type":"api-current-state","z":"86a3c02f.3051a","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1220,"y":1500,"wires":[["380edbd6.9993a4"],["cf2d2127.960e"]]},{"id":"380edbd6.9993a4","type":"function","z":"86a3c02f.3051a","name":"Red","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness_pct\":20,\n        \"rgb_color\":[255,0,0]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1460,"wires":[["64914934.088278"]]},{"id":"64914934.088278","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":1500,"wires":[[]]},{"id":"cf2d2127.960e","type":"function","z":"86a3c02f.3051a","name":"White","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"rgb_color\":[255,177,110]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1540,"wires":[["64914934.088278"]]},{"id":"6dee1e13.58fe4","type":"link in","z":"86a3c02f.3051a","name":"","links":["859b99e7.e716b8","bd6bd6b4.21ebb8","e8b6e211.8391f","f1c1ba61.562008"],"x":875,"y":960,"wires":[["22caf5ba.da849a"]]},{"id":"22caf5ba.da849a","type":"api-current-state","z":"86a3c02f.3051a","name":"Alarm Active","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.alarm_clock_active","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1010,"y":960,"wires":[[],[]]},{"id":"6adf3725.b2d148","type":"link in","z":"86a3c02f.3051a","name":"","links":["1095f41a.a65f3c","124c0dae.d8e8a2","4acd8c9.9778e74","90adabb3.bf43c8"],"x":695,"y":1700,"wires":[["ce17ec80.a2256"]]},{"id":"f22572ad.fd772","type":"api-current-state","z":"86a3c02f.3051a","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1160,"y":1700,"wires":[["214e1978.86b3a6","fe4c177c.bab0a8"],["58efeb79.8b6464"]]},{"id":"ce17ec80.a2256","type":"api-call-service","z":"86a3c02f.3051a","name":"toggle bedtime","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"toggle","entityId":"input_boolean.bedtime","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1700,"wires":[["f22572ad.fd772"]]},{"id":"214e1978.86b3a6","type":"function","z":"86a3c02f.3051a","name":"Red","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness_pct\":20,\n        \"rgb_color\":[255,0,0]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1660,"wires":[["c5d3aa58.90c388"]]},{"id":"c5d3aa58.90c388","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedroom Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":1700,"wires":[[]]},{"id":"58efeb79.8b6464","type":"function","z":"86a3c02f.3051a","name":"White","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"rgb_color\":[255,177,110]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":1740,"wires":[["c5d3aa58.90c388"]]},{"id":"fe4c177c.bab0a8","type":"api-call-service","z":"86a3c02f.3051a","name":"Bedtime","server":"7d575fd3.be153","version":1,"service_domain":"script","service":"turn_on","entityId":"script.bedtime","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1600,"wires":[[]]},{"id":"9299d151.36775","type":"stoptimer","z":"86a3c02f.3051a","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":340,"wires":[["bf9efdec.52f43","3fc373d6.eae9fc"],[]]},{"id":"bf9efdec.52f43","type":"api-call-service","z":"86a3c02f.3051a","name":"House State - Awake","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm_clock_active","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":900,"y":340,"wires":[[]]},{"id":"3fc373d6.eae9fc","type":"api-call-service","z":"86a3c02f.3051a","name":"Snooze Off","server":"7d575fd3.be153","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.alarm_clock_snooze","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":380,"wires":[[]]},{"id":"8a4be04.d03a02","type":"comment","z":"86a3c02f.3051a","name":"Long click, end alarm","info":"","x":960,"y":1100,"wires":[]},{"id":"8212694c.b17548","type":"comment","z":"86a3c02f.3051a","name":"Click, no alarm. Toggle Lights","info":"","x":780,"y":1400,"wires":[]},{"id":"69a1b8b6.4e7518","type":"comment","z":"86a3c02f.3051a","name":"Double click. Toggle Bedtime state","info":"","x":900,"y":1640,"wires":[]},{"id":"e50adb11.c46a18","type":"comment","z":"86a3c02f.3051a","name":"Click - Snooze","info":"","x":210,"y":780,"wires":[]},{"id":"eb4ca30a.d8017","type":"api-current-state","z":"81d9975e.584f98","name":"Light On?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.mes","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1020,"y":440,"wires":[["c6f751b1.69167"],["ac36ceda.a7637"]]},{"id":"c6f751b1.69167","type":"api-call-service","z":"81d9975e.584f98","name":"Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.mes","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1190,"y":400,"wires":[[]]},{"id":"ac36ceda.a7637","type":"api-current-state","z":"81d9975e.584f98","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1220,"y":480,"wires":[["99473bb7.50a508"],["1c29f463.85028c"]]},{"id":"99473bb7.50a508","type":"function","z":"81d9975e.584f98","name":"Dim","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":20,\n        \"color_temp\":333\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":440,"wires":[["b43e4f02.eb039"]]},{"id":"b43e4f02.eb039","type":"api-call-service","z":"81d9975e.584f98","name":"Light On","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.mes","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":480,"wires":[[]]},{"id":"1c29f463.85028c","type":"function","z":"81d9975e.584f98","name":"Bright","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\":200\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":520,"wires":[["b43e4f02.eb039"]]},{"id":"56cec2d4.56edfc","type":"server-state-changed","z":"81d9975e.584f98","name":"MES Light","server":"7d575fd3.be153","version":1,"entityidfilter":"light.mes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":160,"wires":[["861ac36d.9e22e","444dffde.77514"],["a8804900.221418","b512568f.0c0e38"]]},{"id":"861ac36d.9e22e","type":"stoptimer","z":"81d9975e.584f98","duration":"150","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":450,"y":60,"wires":[["ebae9abe.517ec8"],[]]},{"id":"32aa9536.b7091a","type":"api-call-service","z":"81d9975e.584f98","name":"Extractor On","server":"7d575fd3.be153","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.mes_extractor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":60,"wires":[[]]},{"id":"ebae9abe.517ec8","type":"api-current-state","z":"81d9975e.584f98","name":"Light On?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.mes","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":640,"y":60,"wires":[["32aa9536.b7091a"],[]]},{"id":"a8804900.221418","type":"stoptimer","z":"81d9975e.584f98","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":440,"y":260,"wires":[["9073ec08.dfc67"],[]]},{"id":"9073ec08.dfc67","type":"api-call-service","z":"81d9975e.584f98","name":"Extractor Off","server":"7d575fd3.be153","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.mes_extractor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":260,"wires":[[]]},{"id":"b512568f.0c0e38","type":"function","z":"81d9975e.584f98","name":"Stop","func":"msg.payload = \"STOP\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["861ac36d.9e22e"]]},{"id":"444dffde.77514","type":"function","z":"81d9975e.584f98","name":"Stop","func":"msg.payload = \"STOP\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["a8804900.221418"]]},{"id":"ee515653.7bb448","type":"subflow:81d9975e.584f98","z":"62f232c2.0dd08c","name":"","env":[],"x":170,"y":700,"wires":[]},{"id":"3597b497.0ed8fc","type":"comment","z":"81d9975e.584f98","name":"Double Click","info":"State 0:\nLight Off Extractor Off\nAction - Both on\n\nState 1:\nLight Off Extractor On\nAction - Both off\n\nState 2:\nLight On Extractor Off\nAction - Both on\n\nState 3:\nLight On Extractor On\nAction - Both off","x":1030,"y":620,"wires":[]},{"id":"60108002.8a7e4","type":"api-current-state","z":"81d9975e.584f98","name":"Extractor On?","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.mes_extractor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":660,"wires":[["8253368b.5fc958","296317f9.c2a588"],["4a4037f0.1af008","88a41310.4cc51"]]},{"id":"8253368b.5fc958","type":"api-call-service","z":"81d9975e.584f98","name":"Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.mes","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":580,"wires":[[]]},{"id":"296317f9.c2a588","type":"api-call-service","z":"81d9975e.584f98","name":"Extractor Off","server":"7d575fd3.be153","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.mes_extractor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":620,"wires":[[]]},{"id":"4a4037f0.1af008","type":"api-current-state","z":"81d9975e.584f98","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1280,"y":680,"wires":[["c68bd92c.c79b58"],["53ebeb08.b21744"]]},{"id":"c68bd92c.c79b58","type":"function","z":"81d9975e.584f98","name":"Dim","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":20,\n        \"color_temp\":333\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":640,"wires":[["5ca54b22.c636c4"]]},{"id":"5ca54b22.c636c4","type":"api-call-service","z":"81d9975e.584f98","name":"Light On","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.mes","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1660,"y":680,"wires":[[]]},{"id":"53ebeb08.b21744","type":"function","z":"81d9975e.584f98","name":"Bright","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\":200\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":720,"wires":[["5ca54b22.c636c4"]]},{"id":"88a41310.4cc51","type":"api-call-service","z":"81d9975e.584f98","name":"Extractor On","server":"7d575fd3.be153","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.mes_extractor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1270,"y":720,"wires":[[]]},{"id":"f5908ade.54dc78","type":"comment","z":"81d9975e.584f98","name":"Long Click","info":"","x":700,"y":740,"wires":[]},{"id":"51d13bad.2e4d14","type":"stoptimer","z":"81d9975e.584f98","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":700,"y":780,"wires":[["19d4c63a.ced0da"],[]]},{"id":"19d4c63a.ced0da","type":"api-call-service","z":"81d9975e.584f98","name":"Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.mes","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":780,"wires":[[]]},{"id":"4e42a353.3a605c","type":"server-state-changed","z":"62f232c2.0dd08c","name":"Front Door","server":"7d575fd3.be153","version":1,"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":1000,"y":1060,"wires":[["30ac7365.37ee4c"],[]]},{"id":"30ac7365.37ee4c","type":"api-current-state","z":"62f232c2.0dd08c","name":"Sun Down","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":1020,"wires":[["e23b1f5e.78b27"],["e5b48f60.58d56"]]},{"id":"e5b48f60.58d56","type":"api-call-service","z":"62f232c2.0dd08c","name":"Entrance Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":1100,"wires":[[]]},{"id":"e23b1f5e.78b27","type":"stoptimer","z":"62f232c2.0dd08c","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1380,"y":1000,"wires":[["1b488cc2.349313"],[]]},{"id":"1b488cc2.349313","type":"api-call-service","z":"62f232c2.0dd08c","name":"Entrance Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1590,"y":1000,"wires":[[]]},{"id":"c71179cb.80bf68","type":"server-state-changed","z":"62f232c2.0dd08c","name":"Come Home","server":"7d575fd3.be153","version":1,"entityidfilter":"group.phil_devices","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":990,"y":980,"wires":[["30ac7365.37ee4c"],[]]},{"id":"219f16bd.25cbca","type":"api-call-service","z":"4a06737d.008a7c","name":"Bedroom","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.bedroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"d56d58e6.cb90c8","type":"api-call-service","z":"4a06737d.008a7c","name":"Lounge","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":300,"wires":[[]]},{"id":"5d5860c4.f0506","type":"api-call-service","z":"4a06737d.008a7c","name":"Study","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.study_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":340,"wires":[[]]},{"id":"cff4a041.4964","type":"change","z":"4a06737d.008a7c","name":"Del payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["219f16bd.25cbca","d56d58e6.cb90c8","5d5860c4.f0506"]]},{"id":"23c17bb2.43d894","type":"api-call-service","z":"62f232c2.0dd08c","name":"Inside Lights","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"group.inside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":1020,"wires":[["30ac7365.37ee4c"]]},{"id":"2e80644e.db870c","type":"subflow:4a06737d.008a7c","z":"62f232c2.0dd08c","name":"","x":800,"y":1080,"wires":[]},{"id":"9c6d3ac9.2ddee8","type":"mqtt in","z":"62f232c2.0dd08c","name":"Bathroom Button","topic":"zigbee2mqtt/0x00158d0001710295","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":200,"y":1340,"wires":[["40eb3172.fe507"]]},{"id":"29e4d916.a3e5b6","type":"switch","z":"62f232c2.0dd08c","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"linkquality","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":1340,"wires":[["bef78e0e.cca75"],[],["37966602.dc7d6a"]]},{"id":"40eb3172.fe507","type":"json","z":"62f232c2.0dd08c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":1340,"wires":[["29e4d916.a3e5b6"]]},{"id":"37966602.dc7d6a","type":"debug","z":"62f232c2.0dd08c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1420,"wires":[]},{"id":"f8ad0429.250388","type":"time-range-switch","z":"62f232c2.0dd08c","name":"Quiet Hours","lat":"","lon":"","startTime":"21:00","endTime":"dawn","startOffset":0,"endOffset":0,"x":970,"y":1400,"wires":[["f974868f.2c0518"],["94a071a9.2247c"]]},{"id":"f974868f.2c0518","type":"function","z":"62f232c2.0dd08c","name":"Soft","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":40,\n        \"color_temp\": \"2700\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1360,"wires":[["b98fa36f.b510f"]]},{"id":"b98fa36f.b510f","type":"api-call-service","z":"62f232c2.0dd08c","name":"Bathroom","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1300,"y":1400,"wires":[[]]},{"id":"94a071a9.2247c","type":"function","z":"62f232c2.0dd08c","name":"Bright","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\": \"3300\"\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1440,"wires":[["b98fa36f.b510f"]]},{"id":"bef78e0e.cca75","type":"api-current-state","z":"62f232c2.0dd08c","name":"Bathroom","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.bathroom","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":740,"y":1320,"wires":[["b3e9eed2.455ab"],["f8ad0429.250388"]]},{"id":"b3e9eed2.455ab","type":"api-call-service","z":"62f232c2.0dd08c","name":"Bathroom","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":1300,"wires":[[]]},{"id":"ae9b0c69.199fe","type":"change","z":"81d9975e.584f98","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":440,"wires":[["eb4ca30a.d8017"]]},{"id":"fd7516e6.d64e58","type":"change","z":"81d9975e.584f98","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["60108002.8a7e4"]]},{"id":"177db4a8.2abf4b","type":"switch","z":"62f232c2.0dd08c","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"linkquality","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":1700,"wires":[["e7bc7338.e7e06"],[],[]]},{"id":"d4d06d0d.9f08","type":"json","z":"62f232c2.0dd08c","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1700,"wires":[["177db4a8.2abf4b"]]},{"id":"53c81521.7792bc","type":"mqtt in","z":"62f232c2.0dd08c","name":"Study Button","topic":"zigbee2mqtt/0x00158d000183a788","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":170,"y":1700,"wires":[["d4d06d0d.9f08"]]},{"id":"e7bc7338.e7e06","type":"api-current-state","z":"62f232c2.0dd08c","name":"Study","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.office","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":690,"y":1660,"wires":[["9b339980.ae4a38"],["9d403b52.58ebc8"]]},{"id":"9b339980.ae4a38","type":"api-call-service","z":"62f232c2.0dd08c","name":"Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.office","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1620,"wires":[[]]},{"id":"9d403b52.58ebc8","type":"api-call-service","z":"62f232c2.0dd08c","name":"On","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.office","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1700,"wires":[[]]},{"id":"4548fc61.c16f84","type":"switch","z":"62f232c2.0dd08c","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"linkquality","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":1920,"wires":[["6eac325b.241bdc"],["650a3a5a.75b0d4"],[]]},{"id":"6ae135a6.3c675c","type":"json","z":"62f232c2.0dd08c","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1920,"wires":[["4548fc61.c16f84"]]},{"id":"2904420e.3233be","type":"mqtt in","z":"62f232c2.0dd08c","name":"Lab Button","topic":"zigbee2mqtt/0x00158d000183aead","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":160,"y":1920,"wires":[["6ae135a6.3c675c"]]},{"id":"6eac325b.241bdc","type":"api-current-state","z":"62f232c2.0dd08c","name":"Lab","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.lab","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":690,"y":1880,"wires":[["a1d64bcd.5a5a58"],["3fab6be2.634054"]]},{"id":"a1d64bcd.5a5a58","type":"api-call-service","z":"62f232c2.0dd08c","name":"Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lab","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1840,"wires":[[]]},{"id":"3fab6be2.634054","type":"api-call-service","z":"62f232c2.0dd08c","name":"On","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.lab","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":1920,"wires":[[]]},{"id":"650a3a5a.75b0d4","type":"debug","z":"62f232c2.0dd08c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":2020,"wires":[]},{"id":"360719a8.d15aa6","type":"mqtt in","z":"86a3c02f.3051a","name":"Bedside","topic":"zigbee2mqtt/0x00158d0001f41dcb","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":200,"y":1140,"wires":[["38bb577e.b05638"]]},{"id":"5f9674b.18a118c","type":"switch","z":"86a3c02f.3051a","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":340,"y":1240,"wires":[["f6c80296.f4169"],["bd6bd6b4.21ebb8"],["124c0dae.d8e8a2"]]},{"id":"38bb577e.b05638","type":"json","z":"86a3c02f.3051a","name":"","property":"payload","action":"","pretty":false,"x":190,"y":1240,"wires":[["5f9674b.18a118c"]]},{"id":"f6c80296.f4169","type":"link out","z":"86a3c02f.3051a","name":"Bedside Single Click","links":["9e7d566f.c0eeb8","80d3f246.1704d"],"x":495,"y":1200,"wires":[]},{"id":"124c0dae.d8e8a2","type":"link out","z":"86a3c02f.3051a","name":"Bedside Double Click","links":["6adf3725.b2d148"],"x":495,"y":1280,"wires":[]},{"id":"bd6bd6b4.21ebb8","type":"link out","z":"86a3c02f.3051a","name":"Bedside Long Click","links":["c60a710d.89a63","6dee1e13.58fe4"],"x":495,"y":1240,"wires":[]},{"id":"5b437d34.cd4e64","type":"mqtt in","z":"86a3c02f.3051a","name":"Bedroom Wall","topic":"zigbee2mqtt/0x00158d00017101b2","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":330,"y":1580,"wires":[["eedcdb6b.2469b8","9c5c2859.2d3568"]]},{"id":"9b0ecc00.91bb7","type":"switch","z":"86a3c02f.3051a","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":1580,"wires":[["5b454d26.040844"]]},{"id":"eedcdb6b.2469b8","type":"json","z":"86a3c02f.3051a","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1580,"wires":[["9b0ecc00.91bb7"]]},{"id":"9c5c2859.2d3568","type":"debug","z":"86a3c02f.3051a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1700,"wires":[]},{"id":"d222ee80.c4c89","type":"mqtt in","z":"62f232c2.0dd08c","name":"Entrance","topic":"zigbee2mqtt/0x00158d0002139069","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":280,"y":1140,"wires":[["2e970b7f.2d1b84"]]},{"id":"4398747e.fec52c","type":"switch","z":"62f232c2.0dd08c","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":1140,"wires":[["23c17bb2.43d894","2e80644e.db870c"],["8b4677ab.406cf8","4015f510.e1850c"]]},{"id":"2e970b7f.2d1b84","type":"json","z":"62f232c2.0dd08c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1140,"wires":[["4398747e.fec52c"]]},{"id":"984c929.e72107","type":"mqtt in","z":"3788fae5.b038d6","name":"Button 1","topic":"zigbee2mqtt/0x00158d0001f41f2c","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":260,"y":1080,"wires":[["fcbb36fd.cd6a78"]]},{"id":"8bdaac06.31608","type":"switch","z":"3788fae5.b038d6","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":560,"y":1080,"wires":[[],[],[]]},{"id":"fcbb36fd.cd6a78","type":"json","z":"3788fae5.b038d6","name":"","property":"payload","action":"","pretty":false,"x":410,"y":1080,"wires":[["8bdaac06.31608"]]},{"id":"9d9e89db.f1ba78","type":"mqtt in","z":"3788fae5.b038d6","name":"Button 2","topic":"zigbee2mqtt/0x00158d0001f4183f","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":244,"y":1464,"wires":[["18c5f63f.32e9ea"]]},{"id":"9a7eabc4.79b9e8","type":"switch","z":"3788fae5.b038d6","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":544,"y":1464,"wires":[["62952589.3e1e6c","b852bbe9.eef808"],["e17b482c.30ea08"],["3b9215e4.fd290a"]]},{"id":"18c5f63f.32e9ea","type":"json","z":"3788fae5.b038d6","name":"","property":"payload","action":"","pretty":false,"x":394,"y":1464,"wires":[["9a7eabc4.79b9e8"]]},{"id":"9d4f9b1e.bb0308","type":"function","z":"3788fae5.b038d6","name":"Parse","func":"var brightness = msg.payload\n\nmsg.payload = \n{\n    data:\n    {\n        \"brightness\":brightness,\n        \"color_temp\": \"2500\"\n    }\n};\n\nif (brightness == \"0\")\n    msg.topic = \"reset\"\n    \nreturn msg;","outputs":1,"noerr":0,"x":1114,"y":1444,"wires":[["b8d5d3ef.78ae6"]]},{"id":"b48f5aad.7b4cf8","type":"api-call-service","z":"3788fae5.b038d6","name":"lounge","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.lounge","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1414,"y":1444,"wires":[[]]},{"id":"62952589.3e1e6c","type":"state-machine","z":"3788fae5.b038d6","name":"","triggerProperty":"payload.click","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["0","40","80","255"],"transitions":[{"name":"single","from":"40","to":"255"},{"name":"single","from":"80","to":"40"},{"name":"single","from":"255","to":"80"},{"name":"single","from":"0","to":"255"},{"name":"reset","from":"*","to":"0"}],"x":924,"y":1444,"wires":[["9d4f9b1e.bb0308"]]},{"id":"b8d5d3ef.78ae6","type":"switch","z":"3788fae5.b038d6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"reset","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1274,"y":1444,"wires":[["b48f5aad.7b4cf8"]]},{"id":"b852bbe9.eef808","type":"stoptimer","z":"3788fae5.b038d6","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":724,"y":1304,"wires":[["20926755.0d5338"],[]]},{"id":"20926755.0d5338","type":"change","z":"3788fae5.b038d6","name":"Reset","rules":[{"t":"set","p":"payload.click","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":734,"y":1384,"wires":[["62952589.3e1e6c"]]},{"id":"bd07ea84.78f3c8","type":"api-call-service","z":"8ed72877.93bc38","name":"Kitchen Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":120,"wires":[[]]},{"id":"d9334fa0.38208","type":"api-call-service","z":"8ed72877.93bc38","name":"Entrance Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":160,"wires":[[]]},{"id":"275772ae.eaabde","type":"api-call-service","z":"8ed72877.93bc38","name":"Passsage Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.passage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":660,"y":200,"wires":[[]]},{"id":"52d7095a.13bfc8","type":"api-call-service","z":"8ed72877.93bc38","name":"Lab Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lab","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":240,"wires":[[]]},{"id":"22807ad5.545076","type":"function","z":"8ed72877.93bc38","name":"Dim","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":20,\n        \"color_temp\":333\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["57fb48a3.ed0348"]]},{"id":"57fb48a3.ed0348","type":"api-call-service","z":"8ed72877.93bc38","name":"Outside","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":280,"wires":[[]]},{"id":"d0accc36.33341","type":"api-current-state","z":"8ed72877.93bc38","name":"Sun","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":280,"wires":[["22807ad5.545076"],["fca2e757.f77478"]]},{"id":"fca2e757.f77478","type":"api-call-service","z":"8ed72877.93bc38","name":"Outside","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":320,"wires":[[]]},{"id":"757620d3.73d4","type":"change","z":"8ed72877.93bc38","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":200,"wires":[["bd07ea84.78f3c8","d9334fa0.38208","275772ae.eaabde","52d7095a.13bfc8","d0accc36.33341"]]},{"id":"e17b482c.30ea08","type":"subflow:8ed72877.93bc38","z":"3788fae5.b038d6","name":"","x":814,"y":1504,"wires":[]},{"id":"18360cce.e565e3","type":"api-current-state","z":"a436e8cb.527cf8","name":"","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.lounge_ac","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":610,"y":160,"wires":[["48c60189.2b274"],["c6530cf1.a2f1d"]]},{"id":"48c60189.2b274","type":"api-call-service","z":"a436e8cb.527cf8","name":"","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_on","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":140,"wires":[[]]},{"id":"c6530cf1.a2f1d","type":"api-call-service","z":"a436e8cb.527cf8","name":"","server":"7d575fd3.be153","version":1,"service_domain":"climate","service":"turn_off","entityId":"climate.lounge_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":200,"wires":[[]]},{"id":"b467c84c.4dc468","type":"change","z":"a436e8cb.527cf8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":160,"wires":[["18360cce.e565e3"]]},{"id":"3b9215e4.fd290a","type":"subflow:a436e8cb.527cf8","z":"3788fae5.b038d6","name":"","env":[],"x":780,"y":1580,"wires":[]},{"id":"f2c52163.60c9e","type":"api-call-service","z":"3788fae5.b038d6","name":"Passage Light","server":"7d575fd3.be153","version":1,"service_domain":"","service":"","entityId":"bitbrain-za","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":900,"wires":[[]]},{"id":"df556151.d8c22","type":"api-current-state","z":"54c86189.6415","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":640,"y":140,"wires":[["6946092c.681c38"],["5a591dcf.255824"]]},{"id":"6946092c.681c38","type":"function","z":"54c86189.6415","name":"Dim","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":20,\n        \"color_temp\":333\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[[]]},{"id":"5a591dcf.255824","type":"function","z":"54c86189.6415","name":"Bright","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\":200\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[[]]},{"id":"5dbcd079.75d08","type":"change","z":"54c86189.6415","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["df556151.d8c22"]]},{"id":"e04f8c99.fa593","type":"mqtt in","z":"62f232c2.0dd08c","name":"PIR","topic":"zigbee2mqtt/0x00158d000222dec9","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":1190,"y":1780,"wires":[["3695f2a4.970f5e"]]},{"id":"3695f2a4.970f5e","type":"json","z":"62f232c2.0dd08c","name":"","property":"payload","action":"","pretty":false,"x":1330,"y":1780,"wires":[["2b7a149c.413ebc"]]},{"id":"2b7a149c.413ebc","type":"switch","z":"62f232c2.0dd08c","name":"Message","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1500,"y":1780,"wires":[["8896b27c.0c087"],["9a6f96a7.0f4878"]]},{"id":"5518df27.0ef46","type":"change","z":"34311fcd.cea24","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":240,"wires":[["c139bcd0.3b1bc"]]},{"id":"c139bcd0.3b1bc","type":"api-current-state","z":"34311fcd.cea24","name":"Sun Down","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":360,"wires":[["60952339.5f863c"],["a9f78513.321758"]]},{"id":"60952339.5f863c","type":"api-current-state","z":"34311fcd.cea24","name":"After Bedtime","server":"7d575fd3.be153","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.bedtime","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":980,"y":340,"wires":[["9a09c277.b010d"],["59476d48.5e9b54"]]},{"id":"9a09c277.b010d","type":"function","z":"34311fcd.cea24","name":"Dim","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":20,\n        \"color_temp\":333\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[[]]},{"id":"59476d48.5e9b54","type":"function","z":"34311fcd.cea24","name":"Bright","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":255,\n        \"color_temp\":200\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":380,"wires":[[]]},{"id":"a9f78513.321758","type":"function","z":"34311fcd.cea24","name":"Off","func":"msg.payload = \n{\n    data:\n    {\n        \"brightness\":0,\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":460,"wires":[[]]},{"id":"8896b27c.0c087","type":"subflow:34311fcd.cea24","z":"62f232c2.0dd08c","name":"","x":1710,"y":1740,"wires":[["8308a91a.284bd8"],[]]},{"id":"9a6f96a7.0f4878","type":"stoptimer","z":"62f232c2.0dd08c","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1680,"y":1820,"wires":[["5bb1c918.a79778"],[]]},{"id":"8308a91a.284bd8","type":"api-call-service","z":"62f232c2.0dd08c","name":"Passage Light On","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_on","entityId":"light.passage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1930,"y":1740,"wires":[[]]},{"id":"5bb1c918.a79778","type":"api-call-service","z":"62f232c2.0dd08c","name":"Passage Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.passage","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1870,"y":1820,"wires":[[]]},{"id":"8b4677ab.406cf8","type":"api-call-service","z":"62f232c2.0dd08c","name":"Toggle Entrance","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"toggle","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":1160,"wires":[[]]},{"id":"4015f510.e1850c","type":"stoptimer","z":"62f232c2.0dd08c","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":840,"y":1200,"wires":[["ecbd4f25.1a057"],[]]},{"id":"ecbd4f25.1a057","type":"api-call-service","z":"62f232c2.0dd08c","name":"Entrance Light Off","server":"7d575fd3.be153","version":1,"service_domain":"light","service":"turn_off","entityId":"light.entrance","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":1200,"wires":[[]]},{"id":"62b69e68.ab764","type":"mqtt in","z":"81d9975e.584f98","name":"Button","topic":"zigbee2mqtt/0x00158d0001e5c0de","qos":"2","datatype":"auto","broker":"2eafe4c0.b7da5c","x":190,"y":540,"wires":[["126fb590.ef2ffa"]]},{"id":"b8d98938.f61bf8","type":"switch","z":"81d9975e.584f98","name":"Message","property":"payload.click","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"long","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":540,"wires":[["ae9b0c69.199fe"],["fd7516e6.d64e58"],["51d13bad.2e4d14","ae9b0c69.199fe"]]},{"id":"126fb590.ef2ffa","type":"json","z":"81d9975e.584f98","name":"","property":"payload","action":"","pretty":false,"x":350,"y":540,"wires":[["b8d98938.f61bf8"]]}]